/* Common Matches Box */
.match-block {
	display: inline-block;
	padding-bottom: 1rem;
}
.matches-container {
	background: rgba(255,255,255,1);
	/*border: thin solid rgba(153,153,153,1);*/
	text-align: center;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
}
.matches-outer-box{
    max-width: 140px;
    width: 140px;
    text-align: center;
}
.matches-box{
    border: thin solid rgba(153,153,153,1);
    margin: auto
}

.matches-container .top {
	background: rgba(36,157,219,1);
	font-size: 11px;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height:60px;
	height: 60px;
	color: rgba(255,255,255,1);
	font-weight: 600;
	position: relative;
}

.matches-container .top div,
.matches-container .top_cd div {
	text-align: center
}
.matches-container .l_top div {
}

.matches-container .top_cd {
	background: rgba(153,153,153,1);
	min-height:60px;
	height: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 11px;
	color: rgba(255,255,255,1);
	font-weight: 600;
	position: relative;
}

.matches-container img {
    width: 140px;
    height: 100px;
}

.matches-container .text {
	color: rgba(0,0,0,1);
	font-size: 0.85em;
}

.matches-container .text h3 {
	font-size: 1em;
	font-weight: 600;
	margin: 6px;
}
.matches-container .text p{
    margin-bottom: 0;
}
.matches-container .text span {
	font-size: 10px;
}

.matches-client-house .action-group{
    text-align: right;
}
.matches-wrapper{
    display: inline-block;
    position: relative;
}
.matches-matches i.fa-random{
    background: #fff;
    color: rgba(71, 181, 82, 1);
    padding: 4px;
}
.matches-wrapper > i.fa-random{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 30px;
    width: 30px;
    top: -2px;
    position: absolute
}
.matches-client-house{
    border-bottom: 1px solid rgba(71, 181, 82, 1);
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.matches-wrapper .matches-hiw a.tooltip,
.matches-wrapper .matches-hiw a{
    display: block;
    width: 45px;
    margin-top: 140px
}
.matches-wrapper .matches-hiw a > i.fa-random,
.matches-wrapper .matches-hiw .list a.tooltip > i.fa-random{
    position: static;
    left: auto;
    right: auto;
    top: auto;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    margin-right: 0;
}

.matches-wrapper .matches-hiw{
    padding: 0;
    min-height: 300px
}
.matches-buttons{
    margin-top: 15px;
}
.matches-buttons button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.matches-title {
    font-size: 1.7em;
    position: relative;
    margin-top: 10px;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}
.matches-blue-text {
    color: rgba(36,157,219,1);
    font-weight: 600;
}

/* general */
.match-box.sample{
    width: 100%
}
.matches-matches .one-way-match-box {
    text-align: center
}
.match-box .sided-arrow-area i.fa-random{
    transform: rotate(-90deg);
    margin-right: 0;
    position: absolute;
    top: 50%;
    left: 31px;
    display: inline-block;
    width: 40px;
    height: 25px;
}
.match-box .sided-random > i.fa-random{
    margin-right: 0
}
.match-box .sided-random i.fa-random{
    transform: rotate(90deg);
    margin-right: 0;
}
.match-box .matches-container{
    float: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
.match-box .matches-wrapper > i.fa-random,
.match-box .matches-wrapper .canvas-arrow{
    display: none
}
.match-box .matches-hiw{
    display: none
}
.match-box .sided-arrow-area{
    display: block;
    float: left;
    width: 33.3333%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.match-box .matches-wrapper{
    width: 66.6666%;
}
.match-box .matches-box{
    margin-left: 0;
    margin-right: auto;
}
.match-box .sided-random{
    display: block;
}

/** Small screens */
@media only screen {
}

/** min-width 512px, custom 2-way matches */
@media only screen and (min-width: 32.000em){
    .matches-wrapper .matches-column:first-child{
        padding-left: 0;
    }
    .matches-wrapper .matches-column:last-child{
        padding-right: 0;
    }

    /* 1-way */
    .one-way-match-box .matches-wrapper > i.fa-random,
    .one-way-match-box .matches-wrapper .canvas-arrow{
        display: block
    }
    .one-way-match-box .matches-container{
        float: left;
        margin-bottom: 0;
        margin-top: 0;
    }
    .one-way-match-box .matches-hiw{
        display: block;
    }
    .one-way-match-box .sided-arrow-area{
        display: none;
        width: 0;
        float: none;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
    }
    .one-way-match-box .matches-wrapper{
        width: auto;
    }
    .one-way-match-box .sided-random{
        display: none;
    }
    .one-way-match-box .matches-box{
        margin-left: auto;
        margin-right: auto;
    }

    /* 2-way */
    .two-way-match-box .matches-wrapper > i.fa-random,
    .two-way-match-box .matches-wrapper .canvas-arrow{
        display: block
    }
    .two-way-match-box .matches-container{
        float: left;
        margin-bottom: 0;
        margin-top: 0;
    }
    .two-way-match-box .matches-hiw{
        display: block;
    }
    .two-way-match-box .sided-arrow-area{
        display: none;
        width: 0;
        float: none;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
    }
    .two-way-match-box .matches-wrapper{
        width: auto;
    }
    .two-way-match-box .sided-random{
        display: none;
    }
    .two-way-match-box .matches-box{
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 30.063em){
    .matches-client-house .action-group{
        text-align: right;
    }
}

@media only screen and (min-width: 34.313em){
    /* 3-way */
    .three-way-match-box .sided-arrow-area{
        display: none;
        width: 0;
        float: none;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
    }
    .three-way-match-box .matches-wrapper{
        width: auto;
    }
    .three-way-match-box .matches-wrapper i.fa,
    .three-way-match-box .matches-wrapper .canvas-arrow{
        display: block
    }
    .three-way-match-box .matches-hiw{
        display: block
    }
    .three-way-match-box .matches-container{
        float: left;
        margin-top: 0;
        margin-bottom: 0;
    }
    .three-way-match-box .sided-random{
        display: none;
    }
}

@media only screen and (min-width: 43.625em){
    /*4-way*/
    .four-way-match-box .matches-wrapper > i.fa-random,
    .four-way-match-box .matches-wrapper .canvas-arrow{
        display: block
    }
    .four-way-match-box .matches-container{
        float: left;
        margin-bottom: 0;
        margin-top: 0;
    }
    .four-way-match-box .sided-arrow-area{
        display: none;
        width: 0;
        float: none;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
    }
    .four-way-match-box .matches-wrapper{
        width: auto;
    }
    .four-way-match-box .sided-random{
        display: none;
    }
    .four-way-match-box .matches-hiw{
        display: block;
    }

}

@media only screen and (min-width: 55.125em){
    /*5-way*/
    .five-way-match-box .matches-wrapper > i.fa-random,
    .five-way-match-box .matches-wrapper .canvas-arrow{
        display: block
    }
    .five-way-match-box .matches-container{
        float: left;
        margin-bottom: 0;
        margin-top: 0;
    }
    .five-way-match-box .sided-arrow-area{
        display: none;
        width: 0;
        float: none;
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
    }
    .five-way-match-box .matches-wrapper{
        width: auto;
    }
    .five-way-match-box .sided-random{
        display: none;
    }
    .five-way-match-box .matches-hiw{
        display: block
    }
}