html, body {
	height: 100%;
	background: rgba(244,244,244,1);
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	/*font-size: 0.9em;*/
	font-size: 1rem;
}


.b-nav {
	text-align: center;
	margin-top: 0.8rem;
}
.b-nav a {
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}

a {
	font-family: 'Exo', sans-serif;
	font-weight: 200;
	text-decoration:none;
	border: none;
}

a img{
	border: none;
}

a:link {
	color: rgba(57,181,74,1);
	font-weight: 600;
	border: none;
}

a:visited {
	color: rgba(57,181,74,1);
	border: none;
}

a:hover {
	color: rgba(57,181,74,1);
	text-decoration: none;
	border: none;
}

a:active {
	color: rgba(57,181,74,1);
	border: none;
}

a:hover {
	text-decoration:underline;
	border: none;
}
a.button {
	color: #FFF;
}
a:hover.button {
	text-decoration: none;
}

select:disabled {
	background-color: rgb(235, 235, 228);
}

h1 {
	font-size: 2rem;
	font-weight:700;
}

h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5rem;
	color: rgba(71,181,82,1);
}

hr {
	color: rgba(71,181,82,1);
	height: 1px;
	background-color: rgba(71,181,82,1);
	border: 0;
}

.listing-image-bg {
	background: url(/assets/images/no-image.png) center no-repeat;
	background-size: cover;
	border: thin solid rgb(204, 204, 204);
}

#header {
	background-color: rgba(255,255,255,0.95);
	width: 100%;
	border-top: 5px solid rgba(71,181,82,1);
	font-size: 0.9rem;
	position: relative
}

#header .evo-title {
	font-size: 0.9rem;
	text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.7);
	padding-left: 0.5rem;
	line-height: 1rem;;
}

#header .logo-div {
	float: left;
	width: 100%;
	padding-left: 0.9375rem;
}
@media screen and (min-width: 40em) {
	#header .logo-div {
		width: 30%;
	}
}
@media screen and (min-width: 64em) {
	#header .logo-div {
		width: 25%;
	}
}
#header .search-bar-top {
	float: left;
	width: 25%;
	padding-left: 0.9375rem;
}

#header .t-nav {
	float: left;
	width: 50%;
	text-align: right;
	margin-top: 0.8rem;
}
.t-nav a {
	padding-left: 0.6rem;
	padding-right: 0.6rem;
}

#site_menu > li, #sub_menu > li{
	font-weight: bold;
	float: left;
}

#site_menu > li > a,#sub_menu > li > a {
	font-weight: bold;
	display: block;
	padding: 0.625rem;
}
#sub_menu ul {
	display: none;
	position: relative;
	border:1px solid rgba(71,181,82,1);
	z-index: 1
}

#sub_menu li:hover > ul {
	background-color: #FFF;
	padding: 0.5rem;
	display: block;
	position: absolute;
}

.slicknav_menu {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	display: none;
	padding: 0;
	background-color: rgba(255,255,255,1);
	z-index: 100;
}
.slicknav_menu .slicknav_icon-bar{
	background-color: #39b54a;
	box-shadow: none;
}
.slicknav_nav a {
	margin: 0;
	padding: 0.625rem;
}
.slicknav_nav a:hover{
	border-radius: 0;
	background-color: #47B552;
	color: #fff;
	text-decoration: none;
}
#site_menu .logout_button,
#site_menu .login_button {
	margin-top: 0.3rem;
	font-size: 0.75rem;
}

#footer {
	width: 100%;
	padding: 0.5rem;
	background-color: rgba(255,255,255,1);
	font-size: 0.9rem;
}

.filter {
	border-bottom-width: 1px;
	border-bottom-color: rgba(223,223,223,1);
	border-bottom-style: solid;
	padding-bottom: 0.5rem;
	margin: 1.25rem auto;
}

.filter label {
	float: left;
	padding: 0.5rem;
}
.filter select {
	cursor: pointer;
	float: left;
	width: auto;
}
.profile-info {
	background-color: rgba(244,244,244,1);
	font-size: 0.9rem;;
	padding: 0.75rem;
}
@media screen and (max-width: 39.9375em) {
	.profile-info dl dt {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
}
@media screen and (min-width: 40em) {
	.profile-info dl dt {
		clear: left;
		float: left;
		width: 47%;
	}
}
@media screen and (min-width: 40em) {
	.profile-info dl dd {
		float: left;
	}
}
/* Accordion */
.accordion-item .accordion-title {
	font-size: 1.3rem;;
	text-align: center;
	border-bottom: 1px solid rgba(71,181,82,1);
	text-decoration: none;
	color: rgba(71,181,82,1);
}

.accordion-item .accordion-title:hover, .accordion-item.is-active .accordion-title:hover {
	background-color: rgba(71,181,82,0.8);
	color: #FFF;
}

.accordion-item.is-active .accordion-title {
	background-color: rgba(71,181,82,1);
	color: #FFF;
}
.accordion-content {
	background-color: rgba(235,247,237,1);
}
/* Common */
.evo-title-index {
	float: left;
	font-size: 1rem;
	margin-top: 1rem;
	text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.5);
}

.top-search-input {
	border: 2px solid rgba(57,181,74,1);
	height: 2.1rem;
	width: 20rem;
	background-image:url(/assets/images/search_bg.png);
	background-position: right;
	background-repeat:no-repeat;
	font-family: 'Exo', sans-serif;
	margin-top: 1.2rem;
	margin-left: auto;
	margin-right: auto
}

.top-search-input:focus{
	border: 2px solid transparent;
}

.content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: rgba(102,102,102,1);
	background-color: rgba(255,255,255,1);
	-moz-border-radius: 10px;
	border-radius: 10px;
	lpadding: 1rem;
}
.error-list {
	display: block;
	font-size: 0.85rem;
	font-style: italic;
	font-weight: normal;
	padding: 0.25rem;
	color: #f04124;
	text-align: center;
}
.error-list ul {
	list-style: none;
}

.input-error {
	display: block;
	font-size: 0.8rem;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 0.88889rem;
	margin-top: -1rem;
	padding-top: 0.2rem;
	padding-right: 0.4rem;
	padding-bottom: 0.2rem;
	padding-left: 0.4rem;
	background-color: #f04124;
	color: #ffffff;
}
.sub-main-headers {
	color: rgba(71,181,82,1);
}

.text-green {
	color: rgba(57,181,74,1) !important;
}

.text-red {
	color: #FF0000 !important;
}

.text-black {
	color: #000000 !important;
}

.fine-print {
	font-size: 0.8em;
	line-height: 18px;
}

#show_pass {
	font-size: 0.8rem;
	color: rgba(57,181,74,1);
	text-align: right;
	cursor: pointer;
	font-weight: 600;
}

.submit_overlay {
	background: rgba(199, 199, 199, 0.5);
	display: none;
	position: absolute;
	width: 1002px;
	height: 100%;
	left: 0;
	z-index: 101;
	cursor: not-allowed;
}


/* Common Form Elements */

.input_field_ext {
	border: 1px solid rgba(221, 221, 221, 1);
}


.scroll-div {
	height: 10rem;
	max-height: 10.5rem;
	overflow: auto;
	overflow-y: scroll;
	border: black solid 1px;
	color: rgba(102,102,102,1);
	font-size: 0.9rem;
	padding: 0.5rem;
	line-height: 1rem;
}

.scroll-div h2 {
	font-size: 1.5rem;
	color: rgba(102,102,102,1);
}
.scroll-div h3 {
	font-size: 1.3rem;
	color: rgba(102,102,102,1);
}


.azin_button{
	position: relative;
	z-index: 100;
	border: 0;
	background: none;
	color: #39B54A;
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	font-size: 1em;
	margin-left: 9px;
}

.azin_button:hover{
	text-decoration: underline;
}


.home-page {
	width: 100%;
	min-height: 900px;

}
.home-content {
	position: relative;
	margin-bottom: 30px;
}

.home-main-content {
	background: url(/assets/images/home_search_bg.png) center no-repeat;
	background-size: cover;
	color: rgba(255,255,255,1);
	padding-top: 4rem;
	text-shadow: 2px 3px 1px rgba(0,0,0,1);
	font-size: 1em;
	font-weight: 600;
}

.home-main-content h1 {
	color: rgba(255,255,255,1);
	font-size: 2.5rem;
}

.home-main-content h2 a {
	color: rgba(255,255,255,1);
}

.home-main-content span{
	font-size: 1.3rem;
	font-weight: bold;
}


.ct-home{
	background: url(/assets/images/home_bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 800px;
}
.home-search {
	border: 4px solid rgba(57,181,74,1);
	height: 2.5rem;
	swidth: 22rem;
	font-family: 'Exo', sans-serif;
	color: #000000;
}

.home-search:focus{
	border: 4px solid transparent;
}

.home-bottom {
	margin-top: 5rem;
}

.featured-homepage {
	position:relative;
	background-color: rgba(255,255,255,1);
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size:16px;
	font-family: 'Exo', sans-serif;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto
}

.join-box {
	position: relative;
	background-color: rgba(57,181,74,1);
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Exo', sans-serif;
	color: rgba(255,255,255,1);
	text-align: center;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto
}

.join-box h2 {
	font-size: 1.56rem;
	font-weight: bold;
}
.join-box h3 {
	color: rgba(255,255,255,1);
}

/* Signup Page */

.signup-left-top {
	background-image: url(/assets/images/signup_left_top.png);
	background-repeat: no-repeat;
	padding: 1rem;
	color: rgba(255,255,255,1);
	background-size: cover;
}
.signup-left-top h1 {
	font-size: 1.8rem;
}
.signup-left-top h2 {
	font-size: 1.5rem;
}
.signup-left-bottom {
	background: rgba(244,244,244,1);
	padding-bottom: 1rem;
}
.astrict {
	color:#FF0000;
	padding-left: 0.2rem;
}

.pricing-style{
	color: rgba(0, 0, 0, 1);
	font-size: 2.6em;
}

.tos-agreement{
	display: inline
}

/* Members Listing Page */

.members-listing{
	position: relative;
}

.dashboard-search-input-wrapper{
	position: relative;
}
.dashboard-search-input-wrapper i.fa{
	color: rgba(57, 181, 74, 1);
}
.dashboard-search-input-wrapper i.fa{
	left: 8px;
	margin-right: 0;
	top: 7px;
	position: absolute;
	cursor: pointer;
}
.dashboard-search-input-wrapper .members-search-input{
	padding-left: 30px;
}

.members-listing .featured {
	background: url(/assets/images/feat_dir_image.png) top left no-repeat;
	height: 51px;
	width: 185px;
}

.members-listing .exclusive {
	font-size: 1em;
	font-family: 'Exo', sans-serif;
	color: rgba(255,0,0,1);
	font-style: italic;
	background-color: rgba(228, 226, 226, 1);
	padding-top: 1px;
	text-align: center;
	font-weight: inherit;
	cursor: pointer;
}

.members-listing h3 .members_type{
	font-size: 10px;
	position: relative;
	bottom: inherit;
	color: rgba(128, 128, 128, 1);
}

.members_listing .details .inactive,
.matches_client_house .details .inactive {
	font-weight: 700;
	color: rgba(255,0,0,1);
	position: relative;
}

.members_listing .details .incomplete,
.matches_client_house .details .incomplete {
	font-weight: 700;
	color: rgba(214, 0, 0, 1);
	position: relative;
}

.members_listing .details h3 {
	font-weight: normal;
	font-size: 30px;
	line-height: 0px;
	font-family: 'Exo', sans-serif;
	color: rgba(0, 0, 0, 1);
	margin-top: 16px;
	margin-bottom: 18px;
}
.listing-result-details {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgba(71,181,82,1);
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	font-size: 0.95rem;
}
.listing-result-details h3 {
	font-size: 1.5rem;
	font-family: 'Exo', sans-serif;
	padding-bottom: 0.7rem;;
}
.listing-result-details .button {
	width: 70%;
}

.listing-details {
	font-size: 0.92rem;
}
.listing-details-center {
	clear: both;
	padding-top: 1rem;
	padding-bottom: 2rem;
	color: rgba(57,181,74,1);
}
.listing-details-center .listing-details-column {
	font-size: 0.95rem;
	text-transform: capitalize;
	line-height: 1.2rem;
	vertical-align: middle;
}

#t_results{
	font-weight: bold;
	color: rgba(57,181,74,1);
	float: right
}

.view-map{
	cursor: pointer;
}

.view-map img{
	vertical-align: bottom;
}


/* Contact Page */
.contact-emails {
	background: url(/assets/images/members_divide.png) left no-repeat;
	background-size: contain;
	padding-left: 3rem;
	line-height: 1.5rem;
}

.contact-address {
	padding-top: 2rem;
	padding-left: 2rem;
	font-size: 1rem;
}

/* Contact Success Popup */
/* Client Wants Page */

.req_text_done {
	font-weight: bold;
	color: rgb(4, 150, 4);
}

.wants_buttons {
	width: 200px;
	height: 35px;
	background-color: rgba(57,181,74,1);
	font-weight: 700;
	padding: 3px 0px 5px 0px;
	margin: 20px 10px 10px 10px;
	border: 1px solid rgba(57,181,74,1);
	color: rgba(255,255,255,1);
	font-size: 1em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	box-shadow: rgba(29, 62, 229, 1) 0px 0px 24px;
}

.wants_buttons:hover {
	background-color: rgba(255,255,255,1);
	color: rgba(57,181,74,1);
}

input[type="checkbox"]{
	border: 0px solid rgba(172,172,172,1);
	height: 15px;
	width: 15px;
}

.check_sections {
	float: left;
	width: 140px;
	margin: 10px;
	line-height: 35px;
}
.has_comments {
	position: relative;

}

/* Details Page */

.details-content h2 {
	font-size: 1.2rem;
	font-family: 'Exo', sans-serif;
}

.details-price{
	padding-bottom: 5px;
}

.details-added{
	font-size: 12px;
	font-weight: 600;
}

/* Directory Page */

.directory-results {
	z-index: 10;
}

.directory-result-header{
	border-bottom: 2px solid #39B54A;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.directory-results-wrapper{
	margin: 15px 0;
	padding: 15px 0;
	border-top: 1px solid #39B54A
}

.directory_results_sort {
	float: right;
	width: 205px;
}

.directory-results-sub {
	font-family: 'Exo', sans-serif;
}
.no_results{
	text-align: center;
	margin-top: 100px;
	font-weight:600;
	font-family: 'Exo', sans-serif;
	font-size: 24px;
	color: rgba(57,181,74,1);
}

/* How It Works */
.hiw-acc .accordion-content ul ul {
	font-size: 0.9rem;
	list-style: inside;
}

.hiw-second {
	padding-left: 4rem;
	padding-right: 4rem;
}

.hiw-second h2, .hiw-third h2 {
	font-size: 1.8rem;
	padding-top:2rem;
	text-align: center;
	color: #666;
}
.hiw-second p {
	padding-top:2rem;
}
.hiw-third p {

}

.hiw_third .t_o .two_way_match_box {
	width: 342px;
	position: relative;
	height: 350px;
	margin: auto;
	background: url(/assets/images/2_way_arrow_r.png) no-repeat 50% 0%;
}

.hiw-third .two-way-match-box {
	display: inline-block;
	background: url(/assets/images/2_way_arrow_r.png) no-repeat 50% 0%;
	padding-bottom: 1rem;
}

.hiw-third .three-way-match-box {
	display: inline-block;
	background: url(/assets/images/3_way_arrow_r.png) no-repeat 50% 0%;
	padding-bottom: 1rem;
}

.hiw_third .t_o .three_way_match_box {
	width: 542px;
	position: relative;
	height: 350px;
	margin: auto;
	background: url(/assets/images/3_way_arrow_r.png) no-repeat 50% 0%;
}

.shuffle_image {
	background: url(/assets/images/shuffle.png) no-repeat 50%;
	width: 30px;
	height: 280px;
	margin-top: 38px;
	margin-left: 14px;
	margin-right: 14px;
	float: left;
	cursor: pointer;
	position: relative;
}

.shuffle_image:hover {
	background: url(/assets/images/shuffle_glow.png) no-repeat 50%;
}

.shuffle_image_popup {
	width: 165px;
	height: 31px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgba(57,181,74,1);
	float: left;
	position: absolute;
	font-size: 13px;
	color: rgba(255,255,255,1);
	z-index: 100;
	left: -72px;
	bottom: 167px;;
	padding: 5px 7px 10px 7px;
	text-align: center;
	font-weight: 600;
	display: none;
}

.shuffle_image_popup:after {
	content: "";
	position: absolute;
	bottom: -13px;
	left: 73px;
	border-style: solid;
	border-width: 13px 13px 0;
	border-color: rgba(57,181,74,1) transparent;
	display: block;
	width: 0;
	z-index: 1;
}
/* Common Matches Box */
.match-block {
	display: inline-block;
	padding-bottom: 1rem;
}
.matches-container {
	background: rgba(255,255,255,1);
	/*border: thin solid rgba(153,153,153,1);*/
	text-align: center;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
}
.matches-outer-box{
	max-width: 140px;
	width: 140px;
	text-align: center;
}
.matches-box{
	border: thin solid rgba(153,153,153,1);
	margin: auto
}

.matches-container .top {
	background: rgba(36,157,219,1);
	font-size: 11px;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height:60px;
	height: 60px;
	color: rgba(255,255,255,1);
	font-weight: 600;
	position: relative;
}

.matches-container .top div,
.matches-container .top_cd div {
	text-align: center
}
.matches-container .l_top div {
}

.matches-container .top_cd {
	background: rgba(153,153,153,1);
	min-height:60px;
	height: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 11px;
	color: rgba(255,255,255,1);
	font-weight: 600;
	position: relative;
}

.matches-container img {
	width: 140px;
	height: 100px;
}

.matches-container .text {
	color: rgba(0,0,0,1);
	font-size: 0.85em;
}

.matches-container .text h3 {
	font-size: 1em;
	font-weight: 600;
	margin: 6px;
}
.matches-container .text p{
	margin-bottom: 0;
}
.matches-container .text span {
	font-size: 10px;
}

/* Directory Signup Page */

/* Terms & Policy Page */
.terms-policy {
	padding: 2rem;
	font-size: 1rem;;
}

.terms-policy h1 {
	text-align: center;
	color: rgba(57,181,74,1);
	font-size: 1.6em;
}
.terms-policy h3 {
	font-size: 1.2em;
}
.terms-policy h5 {
	text-align: center;
	font-size: 1.125rem;
}
.terms-policy p, .terms-policy ul {
	color: #808080;
	font-size: 0.9rem;
	line-height: 1rem;
}

.terms-policy ul {
	margin-left: 3rem;
}

/* Login Popup */

/* reveal width small (max-width: 39.9375em) */
@media screen and (max-width: 39.9375em) {
	.reveal {
		width: 100%;
	}
}
/* reveal width small */
/*
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
.reveal {
width: 100%;
}
}
*/
/* reveal width small */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.reveal {
		width: 60%;
	}

}

.reveal .modal-header {
	padding: 0.5rem;
	background: rgba(36,157,219,1);
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	font-size: 1.6rem;
	margin-bottom: 0.75rem;
}

.reveal .modal-header .modal-close {
	margin: 0px;
	float:right;
	cursor: pointer;
}
.reveal .modal-body {
	padding: 1.25rem;
	line-height: 1.4rem;
}

@media screen and (max-width: 39.9375em) {
	.reveal .modal-header {
		font-size: 1.136rem;
		margin-bottom: 0.6rem;
	}
	.reveal .modal-body {
		padding: 1rem;
		line-height: 1.12rem;
	}

}

/* About Us */

.about-top {
	text-align: center;
	background: url(/assets/images/about_top.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFFFFF;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-bottom-style: solid;
	border-bottom-width: 0.7rem;
	border-bottom-color: rgba(36, 157, 219, 1);
	font-size: 0.9rem;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.about-top-under {
	background-color: rgba(36, 157, 219, 1);
	font-size: 1.2rem;
	text-align: center;
	padding-top: 1.1rem;
	padding-bottom: 1.5rem;
	color: #FFFFFF;
}

.about-top h1 {
	font-family: 'Exo', sans-serif;
	font-weight: 100;
}

.about-top p {
	line-height: 1rem;
}

.about-second {
	background-color: rgba(255,255,255,1);
	text-align: left;
	padding: 20px;
	font-size: 1.1rem;
	color: rgba(0, 0, 0, 1);
}

.about-second div div div {
	font-size: 1.3rem;
	font-weight: 600;
	font-style: italic;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.about-second em {
	color: rgba(57,181,74,1);
}

.about-third {
	background-color: rgba(235, 235, 235, 1);
	padding: 0;
}

.about-third .text {
	font-size: 0.95rem;
	line-height: 1.5rem;
	padding: 2rem;
}

@media screen and (min-width: 40em) {
	.about-third .text {
		font-size: 0.90rem;
		padding: 2rem;
	}
}

@media screen and (min-width: 64em) {
	.about-third .text {
		font-size: 0.95rem;
		padding-top: 4rem;
		padding-left: 5rem;
		padding-right: 4rem;
		padding-bottom: 3rem;
	}
}

.about-third .right-image {
	text-align: right;
	padding-right: 0px;
}

.about-fifth {
	background: rgba(36, 157, 219, 1);
	color: rgba(255,255,255,1);
	padding: 0.5rem;
}

.about-sixth{
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color:rgba(255,255,255,1);
	text-align:center;
}

.about-sixth a {
	text-decoration: none;
}
/* Members Common */


.details-content h6{
	font-style: italic
}
.features_list {
	float: left;
	padding-right: 30px;
}
.features_list ul {
	list-style-type: none;
	font-size: 12px;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.features_list ul li {
	background-image: url(/assets/images/feature_check.png);
	background-repeat: no-repeat;
	background-position: right;
}
.features-box h6{
	margin-bottom: 0;
}
.features-check-all{
	display: none;
	color: #3399FF;
	font-size: 10px;
}

.price-nav .nav-items {
	display: inline;
	float: right;
}

.option-list li span{
	min-width: 100px;
	display: inline-block
}

.option-list .active{
	color: rgba(0, 153, 0, 1);
}

#listing_results_for{
	/* float:right; */
}

#sorting_option{
	float:right;
}
.ft_img {
	padding-left: 10px;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.pagination .current{
	padding: 0
}

.pagination .current a{
	color: #fff
}

#contact_agent_form label{
	min-width: 120px
}

.unstyled{
	list-style: none;
	margin: 0
}

.detail-top{
	border-bottom: 2px solid rgba(71, 181, 82, 1);
}
.matches-matches .match-box {
	text-align: center;
}
.profile-wrapper{
	border-bottom: 1px solid rgba(223, 223, 223, 1);
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 15px
}
i.fa{
	margin-right: 5px;
}
#sorting_option{
	float:none
}
.search-result-header{
	border-bottom: 2px solid rgba(71, 181, 82, 1);
	padding-top: 15px;
	padding-bottom: 15px;
}

.search-result-filter{
	border-bottom: 1px solid rgba(223, 223, 223, 1)
}

.search-result-filter .filter-label{
	padding-top: 8px;
	padding-bottom: 7px;
}

/* Define mobile styles */

/** Small screens */
@media only screen {
	.hiw-second {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	#site_menu {
		display: none;
	}
	.slicknav_menu {
		display: inline;
	}
	.members-listing .exclusive{
		position: static;
		right: auto;
		top: auto;
		padding: 10px;
	}
	.members-listing .featured{
		position: static;
		top: auto;
		left: auto;
		margin-left: -25px;
	}
	.dashboard-search-input-wrapper i.fa-search{
		display: inline;
	}
}

/** Medium screens */
@media only screen and (min-width: 30.063em) {
	.hiw-second {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.about-fifth {
		padding: 4rem;
	}
	.slicknav_menu{
		display: inline;
	}
	.members-listing .exclusive{
		position: absolute;
		right: 15px;
		top: 0;
		padding: 10px;
		margin-top: 0;
	}
	.members-listing .featured{
		position: absolute;
		top: -2px;
		left: -17px;
		margin-left: 0;
	}
	.dashboard-search-input-wrapper i.fa-search{
		display: none;
	}
}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.hiw-second {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.t-nav .button{
		font-size: 0.9rem
	}
	.dashboard-search-input-wrapper i.fa-search{
		display: inline;
	}

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/** Large screens */
@media only screen and (min-width: 64.063em) {
	#site_menu {
		display: inline-block;
	}
	.slicknav_menu{
		display: none;
	}
	.t-nav .button{
		font-size: 0.9rem
	}
	.dashboard-search-input-wrapper i.fa-search{
		display: inline;
	}
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/** XLarge screens */
@media only screen and (min-width: 90.063em) {
	.t-nav .button{
		font-size: 0.9rem
	}
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/**XXLarge screens*/
@media only screen and (min-width: 120.063em) {
	.t-nav .button{
		font-size: 0.9rem
	}
} /* min-width 1921px, xxlarge screens */

#all_listings {
	min-height: 450px;
}
.address{
	margin-bottom: 15px
}
.address p{
	margin-bottom: 0
}

.grid-sortable > div {
	border:1px solid rgba(71,181,82,1);
}
.grid-sortable > div:hover {
	cursor: pointer;
}

/* Drag and drop classes */
.dad-container{
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dad-container::after{
	content: '';
	clear: both !important;
	display: block;
}
.dad-active .dad-draggable-area{
	cursor: -webkit-grab;
	cursor: -moz-grab;
}
.dad-draggable-area>*,.dad-draggable-area img{
	pointer-events: none;
}
#dropzone {
	margin-top:1.5rem;
	vertical-align: middle;
	text-align: center;
	border:3px solid rgba(71,181,82,1);
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
