html, body {
	height: 100%;
	background: rgba(244,244,244,1);
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	/*font-size: 0.9em;*/
	font-size: 1rem;
}


.b-nav {
	text-align: center;
	margin-top: 0.8rem;
}
.b-nav a {
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}

a {
	font-family: 'Exo', sans-serif;
	font-weight: 200;
	text-decoration:none;
	border: none;
}

a img{
	border: none;
}

a:link, .menu a {
	color: rgba(57,181,74,1);
	font-weight: 600;
	border: none;
}

a:visited {
	color: rgba(57,181,74,1);
	border: none;
}

a:hover {
	color: rgba(57,181,74,1);
	text-decoration: none;
	border: none;
}

a:active {
	color: rgba(57,181,74,1);
	border: none;
}

a:hover {
	text-decoration:underline;
	border: none;
}
a.button {
	color: #FFF;
}
a:hover.button {
	text-decoration: none;
}

select:disabled {
	background-color: rgb(235, 235, 228);
}

h1 {
	font-size: 2rem;
	font-weight:700;
}

h2 {
	font-size: 1.75rem;
}
h3 {
	font-size: 1.5rem;
	color: rgba(71,181,82,1);
}

hr {
	color: rgba(71,181,82,1);
	height: 1px;
	background-color: rgba(71,181,82,1);
	border: 0;
}

.listing-image-bg {
	background: url(/assets/images/no-image.png) center no-repeat;
	background-size: cover;
	border: thin solid rgb(204, 204, 204);
}

#header {
	background-color: rgba(255,255,255,0.95);
	width: 100%;
	border-top: 5px solid rgba(71,181,82,1);
	font-size: 0.9rem;
	position: relative
}

#header .evo-title {
	font-size: 0.9rem;
	text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.7);
	padding-left: 0.5rem;
	line-height: 1rem;;
}

#header .logo-div {
	float: left;
	width: 100%;
	padding-left: 0.9375rem;
}
@media screen and (min-width: 40em) {
	#header .logo-div {
		width: 30%;
	}
}
@media screen and (min-width: 64em) {
	#header .logo-div {
		width: 25%;
	}
}
#header .search-bar-top {
	float: left;
	width: 25%;
	padding-left: 0.9375rem;
}

#header .t-nav {
	float: left;
	width: 50%;
	text-align: right;
	margin-top: 0.8rem;
}
.t-nav a {
	padding-left: 0.6rem;
	padding-right: 0.6rem;
}

#site_menu > li, #sub_menu > li{
	font-weight: bold;
	float: left;
}

#site_menu > li > a,#sub_menu > li > a {
	font-weight: bold;
	display: block;
	padding: 0.625rem;
}
#sub_menu ul {
	display: none;
	position: relative;
	border:1px solid rgba(71,181,82,1);
        z-index: 1
}

#sub_menu li:hover > ul {
	background-color: #FFF;
	padding: 0.5rem;
	display: block;
	position: absolute;
}

.slicknav_menu {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	display: none;
	padding: 0;
	background-color: rgba(255,255,255,1);
	z-index: 100;
}
.slicknav_menu .slicknav_icon-bar{
	background-color: #39b54a;
	box-shadow: none;
}
.slicknav_nav a {
	margin: 0;
	padding: 0.625rem;
}
.slicknav_nav a:hover{
	border-radius: 0;
	background-color: #47B552;
	color: #fff;
	text-decoration: none;
}
#site_menu .logout_button,
#site_menu .login_button {
	margin-top: 0.3rem;
	font-size: 0.75rem;
}
.public-menu {
	padding-top: 0.375rem;
}

#footer {
	width: 100%;
	padding: 0.5rem;
	background-color: rgba(255,255,255,1);
	font-size: 0.9rem;
}

ul.menu-item{
	display: inline-block;
}

.subheader {
	font-size: 0.95rem;
	border-bottom-width: 2px;
	border-bottom-color: rgba(71,181,82,1);
	border-bottom-style: solid;
	margin-bottom: 1rem;
	padding-bottom: 0.25rem;
}

.filter {
	border-bottom-width: 1px;
	border-bottom-color: rgba(223,223,223,1);
	border-bottom-style: solid;
	padding-bottom: 0.5rem;
	margin: 1.25rem auto;
}

.filter label {
	float: left;
	padding: 0.5rem;
}
.filter select {
	cursor: pointer;
	float: left;
	width: auto;
}
.inline {
	display: inline;
}
#members_menu {
	border-width: 2px;
	border-bottom-width: 2px;
	border-bottom-color: rgba(71,181,82,1);
	border-bottom-style: solid;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

.profile-info {
	background-color: rgba(244,244,244,1);
	font-size: 0.9rem;;
	padding: 0.75rem;
}
.realtor-list dl {
	padding-top: 0.75rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgba(71,181,82,1);
}
@media screen and (max-width: 39.9375em) {
	.profile-info dl dt {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
}
@media screen and (min-width: 40em) {
	.profile-info dl dt, .realtor-list dl dt {
		clear: left;
		float: left;
		width: 47%;
	}
}
.realtor-list dl dt {
	width: 35%;
}
@media screen and (min-width: 40em) {
	.profile-info dl dd, .realtor-list dl dd {
		float: left;
	}
}
/* Accordion */
.accordion-item .accordion-title {
	font-size: 1.3rem;;
	text-align: center;
	border-bottom: 1px solid rgba(71,181,82,1);
	text-decoration: none;
	color: rgba(71,181,82,1);
}

.accordion-item .accordion-title .fa-lock{
	margin: 0 10px;
}

.accordion-item .accordion-title:hover, .accordion-item.is-active .accordion-title:hover {
	background-color: rgba(71,181,82,0.8);
	color: #FFF;
}

.accordion-item.is-active .accordion-title {
	background-color: rgba(71,181,82,1);
	color: #FFF;
}
.accordion-content {
	background-color: rgba(235,247,237,1);
}
.accordion-closed{
	padding: 0
}
/* Common */

.evo-title-index {
	float: left;
	font-size: 1rem;
	margin-top: 1rem;
	text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.5);
}

.top-search-input {
	border: 2px solid rgba(57,181,74,1);
	height: 2.1rem;
	width: 20rem;
	background-image:url(/assets/images/search_bg.png);
	background-position: right;
	background-repeat:no-repeat;
	font-family: 'Exo', sans-serif;
	margin-top: 1.2rem;
	margin-left: auto;
	margin-right: auto
}

.top-search-input:focus{
	border: 2px solid transparent;
}

.content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: rgba(102,102,102,1);
	background-color: rgba(255,255,255,1);
	-moz-border-radius: 10px;
	border-radius: 10px;
	lpadding: 1rem;
}

.error-list {
	display: block;
	font-size: 0.85rem;
	font-style: italic;
	font-weight: normal;
	padding: 0.25rem;
	color: #f04124;
	text-align: center;
}
.error-list ul {
	list-style: none;
}

.input-error {
	display: block;
	font-size: 0.8rem;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 0.88889rem;
	margin-top: -1rem;
	padding-top: 0.2rem;
	padding-right: 0.4rem;
	padding-bottom: 0.2rem;
	padding-left: 0.4rem;
	background-color: #f04124;
	color: #ffffff;
}

.sub_line {
	height: 1px;
	width: 100%;
	background-color: rgba(223,223,223,1);
	margin: 10px auto;
	float: left;
}

.sub-main-headers {
	color: rgba(71,181,82,1);
}

.sub_header {
	color: rgba(102,102,102,1);
}

.service_directory_link {
	float: right;
}

.text-green {
	color: rgba(57,181,74,1) !important;
}

.text-red {
	color: #FF0000 !important;
}

.text-black {
	color: #000000 !important;
}

.fine-print {
	font-size: 0.8em;
	line-height: 18px;
}

#show_pass {
	font-size: 0.8rem;
	color: rgba(57,181,74,1);
	text-align: right;
	cursor: pointer;
	font-weight: 600;
}

.submit_overlay {
	background: rgba(199, 199, 199, 0.5);
	display: none;
	position: absolute;
	width: 1002px;
	height: 100%;
	left: 0;
	z-index: 101;
	cursor: not-allowed;
}

.tutorial_overlay {
	background: rgba(199, 199, 199, 0);
	display: block;
	position: absolute;
	width: 1002px;
	height: 100%;
	left: 0;
	z-index: 100;
}

.ui-autocomplete {
	z-index: 1000;
	max-height: 400px;
	overflow: auto;
}

.ui-autocomplete-loading {
	background: white url(/assets/images/search_load.gif) right center no-repeat !important;
}

#cc_forms label {
	display: inline-block;
	float: left;
	text-align: right;
	width: 8rem;
}
#cc_forms input, #cc_forms select {
	display: inline-block;
	display: left;
}

.resources{
	width: 103px;
	height: 90px;
	position: absolute;
	padding-top: 24px;
	right: 625px;
	text-align: center;
	font-family: 'Exo', sans-serif;
	top: 18px;
	z-index: 10;
	border: thin solid #39B54A;
	border-radius: 0px 0px 10px 10px;
	background-color: rgba(255,255,255,1);
}

.resources_b{
	width: 103px;
	height: 90px;
	position: absolute;
	padding-top: 24px;
	left: 230px;
	text-align: center;
	font-family: 'Exo', sans-serif;
	top: 18px;
	z-index: 10;
	border: thin solid #39B54A;
	border-radius: 0px 0px 10px 10px;
	background-color: rgba(255,255,255,1);
}

.resources .container, .resources_b .container{
	width: 103px;
	height: 90px;
}

#resource_button{
	position: relative;
	z-index: 100;
	border: 0;
	background: none;
	color: #39B54A;
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	font-size: 1em;
	margin-left: 30px;
}

#members_menu a{
	margin-left: 30px;
}

#public_menu h2{
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	font-size: 26px;
	float: left;
	margin-top: -8px;
	height: 35px;
	padding-bottom: 10px;
}

/* Common Form Elements */
#remember_me {
	margin: auto 0px auto 0px !important;
}

.input_field_ext {
	border: 1px solid rgba(221, 221, 221, 1);
}


.scroll-div {
	height: 10rem;
	max-height: 10.5rem;
	overflow: auto;
	overflow-y: scroll;
	border: black solid 1px;
	color: rgba(102,102,102,1);
	font-size: 0.9rem;
	padding: 0.5rem;
	line-height: 1rem;
}

.scroll-div h2 {
	font-size: 1.5rem;
	color: rgba(102,102,102,1);
}
.scroll-div h3 {
	font-size: 1.3rem;
	color: rgba(102,102,102,1);
}

.select {
	position: absolute;
	width: 158px;
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(select.png) no-repeat;
	overflow: hidden;
}

.page_select {
	border: none;
	width: auto;
	max-width: 28px;
	min-width: 20px;
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	cursor: pointer;
	padding-left: 0px;
	margin: auto 0px auto 0px;
}

.page_select_manual {
	width: 20px;
	max-width: 55px;
	min-width: 20px;
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	cursor: pointer;
	padding-left: 2px;
	margin: auto 0px auto 0px;
}

.page_selected {
	background-color: rgb(183, 183, 183);
}

.azin_button{
	position: relative;
	z-index: 100;
	border: 0;
	background: none;
	color: #39B54A;
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	font-size: 1em;
	margin-left: 9px;
}

.azin_button:hover{
	text-decoration: underline;
}

/* Side Advert */

#with_ad .advert {
	position: absolute;
	float: right;
	width: 300px;
	right: -300px;
	/*margin-top: 48px;*/
}

@media screen and (max-width: 1600px) and (min-width: 1400px) {

	#with_ad .content {
		margin: 0;
		width: 950px;
		min-height: 800px;
		position: relative;
		margin-left: 5%;
	}

	#with_ad .advert {
		position: absolute;
		float: right;
		width: 300px;
		right: -350px;
		/*margin-top: 48px;*/
	}

}

@media screen and (max-width: 1399px) and (min-width: 1315px) {

	#with_ad .content {
		margin: 0;
		width: 900px;
		min-height: 800px;
		position: relative;
	}

	#with_ad .advert {
		position: absolute;
		float: right;
		width: 300px;
		right: -397px;
		/*margin-top: 48px;*/
	}

	#with_ad .common_content {
		color: rgba(102,102,102,1);
		width: 967px;
		padding-top: 20px;
		font-size: 1em;
		background-color: rgba(255,255,255,1);
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media screen and (max-width: 1314px) and (min-width: 1272px) {

	#with_ad .content {
		margin: 0;
		width: 900px;
		min-height: 800px;
		position: relative;
		transform: scale(0.95);
		-ms-transform: scale(0.95);
		-moz-transform: scale(0.95);
		margin-top: -11px;
	}

	#with_ad .advert {
		position: absolute;
		float: right;
		width: 300px;
		right: -397px;
		/*margin-top: 48px;*/
	}

	#with_ad .common_content {
		color: rgba(102,102,102,1);
		width: 967px;
		padding-top: 20px;
		font-size: 1em;
		background-color: rgba(255,255,255,1);
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}

}

@media screen and (max-width: 1271px) {

	#with_ad .content {
		margin: 0 auto;
		width: 1000px;
		min-height: 800px;
		position: relative;
	}

	#with_ad .common_content {
		color: rgba(102,102,102,1);
		width: 970px;
		padding-top: 20px;
		font-size: 1em;
		background-color: rgba(255,255,255,1);
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}

	#with_ad .advert {
		display: none;
	}

}

.b_nav{
	position: relative;
	float: left;
	margin-top: 12px;
}

/* Home Page */

.home-page {
	width: 100%;
	min-height: 900px;

}
.home-page .header {

}

.home-content {
	position: relative;
	margin-bottom: 30px;
}

.home-main-content {
	background: url(/assets/images/home_search_bg.png) center no-repeat;
	background-size: cover;
	color: rgba(255,255,255,1);
	padding-top: 4rem;
	text-shadow: 2px 3px 1px rgba(0,0,0,1);
	font-size: 1em;
	font-weight: 600;
}

.home-main-content h1 {
	color: rgba(255,255,255,1);
	font-size: 2.5rem;
}

.home-main-content h2 a {
	color: rgba(255,255,255,1);
}

.home-main-content span{
	font-size: 1.3rem;
	font-weight: bold;
}

#m_nav_button{
	display: none;
}

#menu_close{
	display: none;
}
.ct-home{
	background: url(/assets/images/home_bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 800px;
}
.home-search {
	border: 4px solid rgba(57,181,74,1);
	height: 2.5rem;
	swidth: 22rem;
	font-family: 'Exo', sans-serif;
	color: #000000;
}

.home-search:focus{
	border: 4px solid transparent;
}

.home-bottom {
	margin-top: 5rem;
}

.featured-homepage {
	position:relative;
	background-color: rgba(255,255,255,1);
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size:16px;
	font-family: 'Exo', sans-serif;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto
}

.join-box {
	position: relative;
	background-color: rgba(57,181,74,1);
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Exo', sans-serif;
	color: rgba(255,255,255,1);
	text-align: center;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto
}

.join-box h2 {
	font-size: 1.56rem;
	font-weight: bold;
}
.join-box h3 {
	color: rgba(255,255,255,1);
}

/* Signup Page */

.signup-left-top {
	background-image: url(/assets/images/signup_left_top.png);
	background-repeat: no-repeat;
	padding: 1rem;
	color: rgba(255,255,255,1);
	background-size: cover;
}
.signup-left-top h1 {
	font-size: 1.8rem;
}
.signup-left-top h2 {
	font-size: 1.5rem;
}
.signup-left-bottom {
	background: rgba(244,244,244,1);
	padding-bottom: 1rem;
}
.astrict {
	color:#FF0000;
	padding-left: 0.2rem;
}

.pricing-style{
	color: rgba(0, 0, 0, 1);
	font-size: 2.6em;
}

.sign-up-pricing{
	background: #F4F4F4
}

.sign-up-pricing-left{
	background: #fff
}

.tos-agreement{
	display: inline
}

#logo_thumb {
	background-color: #E0E0E0;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	font-size: 1.4rem;
	min-height: 10rem;
}

/* Signup Success Popup */

@media screen and (min-height: 851px) {
	.signup_success {
		width: 850px;
		height: 540px;
		padding: 8px;
		background: rgba(255, 255, 255, 1);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		position: fixed;
		z-index: 201;
		margin-left: -440px;
		top: 20px;
		line-height: 36px;
		box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.50);
		left: 50%;
	}
}

.signup_success #contents {
	width:360px;
	height:144px;
	background:#fcfcfc;
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-webkit-border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}

#email_close_btn {
	position:absolute;
	top:3px;
	right:3px;
	float:right;
	cursor:pointer;
}

.signup_success .cl_btn {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	font-size: 11px;
}

.signup_success .top {
	background: rgba(36,157,219,1);
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	border-radius: 8px 8px 0px 0px;
	width: 100%;
	margin: -8px 0px 25px -8px;
	padding: 17px 6px 6px 10px;
	height: 40px;
	font-size: 24px;
	font-weight: 700;
}

.signup_success .main {
	margin: auto;
	width: 100%;
	font-size: 15px;
}

.signup_success input, #signup_success select{
	font-family: 'Open Sans', sans-serif;
}

.signup_success .input_field {
	width: 125px;
}

.signup_success .input_field_ext {
	width: 300px;
}

.signup_success #process {
	width: 138px;
	height: 40px;
	background-color: rgba(57,181,74,1);
	padding-top: 1px;
	position: relative;
	font-size: 15px;
	color: white;
	cursor: pointer;
	margin: auto;
	margin-top: 5px;
}

/* conflicting css */

@media screen and (min-height: 851px) {
	#signup_success {
		width: 850px;
		height: 540px;
		padding: 8px;
		background: rgba(255, 255, 255, 1);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		position: fixed;
		z-index: 201;
		margin-left: -440px;
		top: 20px;
		line-height: 36px;
		box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.50);
		left: 50%;
	}
}

#signup_success #contents {
	width:360px;
	height:144px;
	background:#fcfcfc;
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-webkit-border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}

#email_close_btn {
	position:absolute;
	top:3px;
	right:3px;
	float:right;
	cursor:pointer;
}

#signup_success .cl_btn {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	font-size: 11px;
}

#signup_success .top {
	background: rgba(36,157,219,1);
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	border-radius: 8px 8px 0px 0px;
	width: 100%;
	margin: -8px 0px 25px -8px;
	padding: 17px 6px 6px 10px;
	height: 40px;
	font-size: 24px;
	font-weight: 700;
}

#signup_success .main {
	margin: auto;
	width: 100%;
	font-size: 15px;
}

#signup_success .main #fee_totals{
	width: 340px;
	line-height: 26px;
	text-align: right;
	float: right;
	bottom: 105px;
	position: absolute;
	right: 10px;
	font-size: 12px;
}

#signup_success .main #c_info{
	width: 530px;
	margin: 0 auto;
	text-align:left;
	margin-top: 30px;
	position: absolute;
}

#signup_success #b_success{
	width: 845px;
}

#signup_success #paypal_logo{
	float:right;
	margin-top: 335px;
	margin-right: -190px;
}

#signup_success #promo_terms{
	width: 845px;
	float: left;
	margin: -10px 0px 0px 10px;
	max-height: 62px;
}

#signup_success input, #signup_success select{
	font-family: 'Open Sans', sans-serif;
}

#signup_success .input_field {
	width: 125px;
}

#signup_success .input_field_ext {
	width: 300px;
}

#signup_success #process {
	width: 138px;
	height: 40px;
	background-color: rgba(57,181,74,1);
	padding-top: 1px;
	position: relative;
	font-size: 15px;
	color: white;
	cursor: pointer;
	margin: auto;
	margin-top: 5px;
}

/* end */

@media screen and (max-height: 499px) {
	.signup_success {
		width: 850px;
		height: 540px;
		padding: 8px;
		background: rgba(255, 255, 255, 1);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		position: fixed;
		z-index: 201;
		line-height: 36px;
		box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.50);
		margin-left: -445px;
		top: -45px;
		transform: scale(0.8);
		-ms-transform: scale(0.8);
		-moz-transform: scale(0.8);
		left: 50%;
	}
}

@media screen and (max-height: 850px) and (min-height: 500px) {
	.signup_success {
		width: 850px;
		height: 540px;
		padding: 8px;
		background: rgba(255, 255, 255, 1);
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		position: fixed;
		z-index: 201;
		line-height: 36px;
		box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.50);
		margin-left: -430px;
		top: 20px;
		transform: scale(0.9);
		-ms-transform: scale(0.9);
		-moz-transform: scale(0.9);
		left: 50%;
	}
}

#nrds_expo {
	display: none;
	position: absolute;
	width: 250px;
	height: 27px;
	border: solid 1px black;
	background-color: rgba(255,255,255,1);
	text-align: center;
	top: -10px;
	left: 64px;
	z-index: 100;
}

#crea_expo {
	display: none;
	position: absolute;
	width: 250px;
	height: 27px;
	border: solid 1px black;
	background-color: rgba(255,255,255,1);
	text-align: center;
	top: -10px;
	left: 64px;
	z-index: 100;
}

/* Members Listing Page */

.search-input {
	border: 0px;
	height: 25px;
	width: 250px;
	background-image:url(/assets/images/search_bg.png);
	background-position: right;
	background-repeat:no-repeat;
	margin-left: 15px;
	font-family: 'Exo', sans-serif;
	font-size: 13px;
	vertical-align: bottom;
	padding-left: 20px;
}
.members-listing{
	position: relative;
}
.members-listing .incompl {
	background: rgba(255,255,255,0.5);
	background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,116,97,0.10) 26%, rgba(255,30,0,0.08) 42%, rgba(255,0,0,0.08) 61%, rgba(255,124,124,0.08) 80%, rgba(255,255,255,0.5) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.5)), color-stop(26%, rgba(255,116,97,0.08)), color-stop(42%, rgba(255,30,0,0.08)), color-stop(61%, rgba(255,0,0,0.08)), color-stop(80%, rgba(255,124,124,0.08)), color-stop(100%, rgba(255,255,255,0.5)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,116,97,0.08) 26%, rgba(255,30,0,0.08) 42%, rgba(255,0,0,0.08) 61%, rgba(255,124,124,0.08) 80%, rgba(255,255,255,0.5) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,116,97,0.08) 26%, rgba(255,30,0,0.08) 42%, rgba(255,0,0,0.08) 61%, rgba(255,124,124,0.08) 80%, rgba(255,255,255,0.5) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,116,97,0.08) 26%, rgba(255,30,0,0.08) 42%, rgba(255,0,0,0.08) 61%, rgba(255,124,124,0.08) 80%, rgba(255,255,255,0.5) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,116,97,0.08) 26%, rgba(255,30,0,0.08) 42%, rgba(255,0,0,0.08) 61%, rgba(255,124,124,0.08) 80%, rgba(255,255,255,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.dashboard-search-input-wrapper{
	position: relative;
}
.dashboard-search-input-wrapper i.fa{
	color: rgba(57, 181, 74, 1);
}
.dashboard-search-input-wrapper i.fa{
	left: 8px;
	margin-right: 0;
	top: 7px;
	position: absolute;
	cursor: pointer;
}
.dashboard-search-input-wrapper i.fa-red{
	color: #ff0000;
}

.dashboard-search-input-wrapper .members-search-input{
	padding-left: 30px;
}

.members-listing .featured {
	background: url(/assets/images/feat_dir_image.png) top left no-repeat;
	height: 51px;
	width: 185px;
}

.members-listing .exclusive {
	font-size: 1em;
	font-family: 'Exo', sans-serif;
	color: rgba(255,0,0,1);
	font-style: italic;
	background-color: rgba(228, 226, 226, 1);
	padding-top: 1px;
	text-align: center;
	font-weight: inherit;
	cursor: pointer;
}

.members-listing h3 .members_type{
	font-size: 10px;
	position: relative;
	bottom: inherit;
	color: rgba(128, 128, 128, 1);
}

.members_listing .details .active,
.matches_client_house .details .active {
	font-weight: 700;
	color: rgba(0,153,0,1);
	position: relative;
}

.members_listing .details .inactive,
.matches_client_house .details .inactive {
	font-weight: 700;
	color: rgba(255,0,0,1);
	position: relative;
}

.members_listing .details .incomplete,
.matches_client_house .details .incomplete {
	font-weight: 700;
	color: rgba(214, 0, 0, 1);
	position: relative;
}

.members_listing .details h3 {
	font-weight: normal;
	font-size: 30px;
	line-height: 0px;
	font-family: 'Exo', sans-serif;
	color: rgba(0, 0, 0, 1);
	margin-top: 16px;
	margin-bottom: 18px;
}

.members_listing .details p {
	margin: 2px;
}


.members_listing .edit {
	float: left;
	position:absolute;
	margin: 0px 0px 0px 100px;
	height: auto;
	width: 130px;
	line-height: 18px;
	background: url(/assets/images/members_divide.png) left no-repeat;
	bottom: 0px;
	right: 195px;
	min-height: 135px;
}

.members_listing .edit span {
	height: 130px;
}

.members_listing .edit span ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 5px;
	/*bottom: 0px;*/

	padding-top: 4px;

	position: absolute;
	-webkit-padding-start: 0px;
	-webkit-margin-before: 2px;
	-webkit-margin-after: 2px;
	-moz-padding-start: 0px;
	-moz-margin-before: 2px;
	-moz-margin-after: 2px;
	padding-start: 0px;
	margin-before: 2px;
	margin-after: 2px;
}

.members_listing .edit span em {
	line-height: 32px;
	margin-left: 15px;
	font-size: 12px;
	text-decoration: underline;
	font-weight: 600;
}

.members_listing .actions {
	float: left;
	position:absolute;
	margin: 0px 0px 0px 10px;
	height: auto;
	width: 205px;
	line-height: 18px;
	bottom: 0px;
	right: 20px;
	min-height: 135px;
}
.members_listing .actions img {
	height: 17px;
	width: auto;
}

.members_listing .actions span {
	height: 130px;
}

.members_listing .actions span ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 5px;
	bottom: 0px;
	position: absolute;
	-webkit-padding-start: 0px;
	-webkit-margin-before: 2px;
	-webkit-margin-after: 2px;
	-moz-padding-start: 0px;
	-moz-margin-before: 2px;
	-moz-margin-after: 2px;
	padding-start: 0px;
	margin-before: 2px;
	margin-after: 2px;
}

.members_listing .actions span em {
	line-height: 32px;
	margin-left: 15px;
	font-size: 12px;
	text-decoration: underline;
	font-weight: 600;
}

.listing_page_select {
	width: 100%;
	text-align:right;
	height:30px;
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	bottom: 5px;
	position: absolute;
	right: 15px;
}

.listing_page_select_t {
	width: 100%;
	text-align:right;
	height:30px;
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	bottom: auto;
	position: absolute;
	right: 15px;
}

.action_images {
	vertical-align: bottom;
}

.incomp_sect {
	text-shadow: 1px 1px 5px rgba(255, 0, 0, 0.51);
}

/* Listing Results Page */

.listing_results_for {
	color:rgba(0,0,0,1);
}

.result_listing_sort {
	float: right;
	/*min-width: 775px;
	max-width: 850px;*/
	width: 100%;
}

.result_listing_sub {
	float: left;
	min-width: 226px;
	margin-top: 3px;
	font-family: 'Exo', sans-serif;
	max-width: 300px;
}

.result_listing_drop_down {
	border: 0px;
	height: 25px;
	width: 130px;
	background-position: right;
	background-repeat: no-repeat;
	margin-left: 5px;
	font-family: 'Exo', sans-serif;
	vertical-align: baseline;
	border-left: thin solid grey;
	font-size: 0.9em;
	padding-left: 2px;
}

.result_listing_drop_down_span {
	margin-left: 5px;
	height: 100px;
	border-left: thin solid grey;
	font-size: 18px;
}

.listing-result-details {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgba(71,181,82,1);
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	font-size: 0.95rem;
}
.listing-result-details h3 {
	font-size: 1.5rem;
	font-family: 'Exo', sans-serif;
	padding-bottom: 0.7rem;;
}
.listing-result-details .button {
	width: 70%;
}

.listing-details {
	font-size: 0.92rem;
}
.listing-details-center {
	clear: both;
	padding-top: 1rem;
	padding-bottom: 2rem;
	color: rgba(57,181,74,1);
}
.listing-details-center .listing-details-column {
	font-size: 0.95rem;
	text-transform: capitalize;
	line-height: 1.2rem;
	vertical-align: middle;
}

#t_results{
	font-weight: bold;
	color: rgba(57,181,74,1);
	float: right
}

.view-map{
	cursor: pointer;
}

.view-map img{
	vertical-align: bottom;
}


/* Contact Page */
.contact-emails {
	background: url(/assets/images/members_divide.png) left no-repeat;
	background-size: contain;
	padding-left: 3rem;
	line-height: 1.5rem;
}

.contact-address {
	padding-top: 2rem;
	padding-left: 2rem;
	font-size: 1rem;
}

/* Contact Success Popup */
#email_success {
	width: 340px;
	height: 280px;
	padding: 8px;
	background: rgba(255, 255, 255, 1);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: absolute;
	z-index: 201;
	margin: auto 0;
	margin-left: -170px;
	left: 50%;
}

#email_success #contents {
	width:360px;
	height:144px;
	background:#fcfcfc;
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-webkit-border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}

#email_close_btn {
	position:absolute;
	top:3px;
	right:3px;
	float:right;
	cursor:pointer;
}

#email_success .cl_btn {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	font-size: 11px;
}

#email_success .top {
	background: rgba(36,157,219,1);
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	border-radius: 8px 8px 0px 0px;
	width: 315px;
	margin: -8px 0px 25px -8px;
	padding: 17px 6px 6px 35px;
	height: 40px;
	font-size: 24px;
	font-weight: 700;
}

#email_success .main {
	margin: auto;
	width: 340px;
	text-align: center;
	font-size: 1.7em;
}

#email_success #close {
	width: 115px;
	height: 25px;
	background-color: rgba(57,181,74,1);
	margin-left: 112px;
	padding-top: 5px;
	position: relative;
	top: 28px;
	font-size: 15px;
	color: white;
	cursor:pointer;
}

/* Client Wants Page */

.req_text {
	font-weight: bold;
	color: rgb(204, 0, 0);
}

.req_text_done {
	font-weight: bold;
	color: rgb(4, 150, 4);
}

.wants_sub_header {
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	position:relative;
	padding: 15px;
	background: rgba(244,244,244,1) url(/assets/images/hiw_minus_g.png) no-repeat 98%;
	cursor: pointer;
}

.wants_sub_header_closed {
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height: 20px;
	position:relative;
	padding: 15px;
	right: 15px;
	background: rgba(247, 247, 247, 1) url(/assets/images/hiw_plus.png) no-repeat 98%;
	border-bottom: 1px solid rgba(57,181,74,1);
	margin-bottom: 5px;
	cursor: pointer;
}

.wants_sub_header_locked {
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height: 20px;
	position:relative;
	padding: 15px;
	right: 15px;
	background: rgba(247, 247, 247, 1) url(/assets/images/lock.png) no-repeat 98%;
	border-bottom: 1px solid rgba(57,181,74,1);
	margin-bottom: 5px;
	cursor: pointer;
	background-size: 22px;
}

.wants_sub_header_n {
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	height: 20px;
	position:relative;
	padding: 15px;
	right: 15px;
	background: rgba(244,244,244,1);
}

.wants_content {
	padding: 10px 0px 0px 0px;
	position: relative;
}

.wants_space {
	width: 225px;
	float: left;
	position: relative;
	margin: 0px 5px -5px 0px;
	padding: 1px 3px 1px 5px;
	font-size: 13px;
}

.wants_buttons {
	width: 200px;
	height: 35px;
	background-color: rgba(57,181,74,1);
	font-weight: 700;
	padding: 3px 0px 5px 0px;
	margin: 20px 10px 10px 10px;
	border: 1px solid rgba(57,181,74,1);
	color: rgba(255,255,255,1);
	font-size: 1em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	box-shadow: rgba(29, 62, 229, 1) 0px 0px 24px;
}

.wants_buttons_glow {
	width: 250px;
	height: 50px;
	font-size: 1.3em;
	background-color: rgba(57,181,74,1);
	font-weight: 700;
	padding: 3px 0px 5px 0px;
	margin: 20px 10px 10px -40px;
	box-shadow: rgba(29, 62, 229, 1) 0px 0px 24px;
	border: 1px solid rgba(57,181,74,1);
	color: rgba(255,255,255,1);
	font-size: 1em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}

.multi-option {
	position: absolute;
	bottom: 15px;
	right: 15px;
	font-weight: 700;
	padding: 25px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
}

.wants_buttons:hover {
	background-color: rgba(255,255,255,1);
	color: rgba(57,181,74,1);
}

.check_space {
	width: 235px;
	float: left;
	position: relative;
	margin: 0px 5px 0px 0px;
	padding: 1px 3px 1px 0px;
	font-size: 12px;
}

input[type="checkbox"]{
	border: 0px solid rgba(172,172,172,1);
	height: 15px;
	width: 15px;
}

.check_sections {
	float: left;
	width: 140px;
	margin: 10px;
	line-height: 35px;
}
.has_comments {
	position: relative;

}

.client_content .up_to_date {

	font-weight:600;
	text-align: right;
	display: block;
	margin-bottom: 20px;
}

.client_content .attention {

	display: none;
	z-index: 5;
	font-weight:600;
	text-align: right;
}

.client_content .attention_closed {
	width: 25px;
	height: 36px;
	float: right;
	position: relative;
	top: -4px;
	right: 40px;
}

.client_content .needs_submitting {
	width: 25px;
	height: 25px;
	float: right;
	position: relative;
	top: 3px;
	right: -10px;
	display: none;
}

.client_content_sub {
	position: relative;
	line-height: 22px;
}

.submit_changes {
	margin-bottom: 15px;
	margin-top: 15px;
	display: block;
	position: relative;
	text-align: right;
	display: block;
}

#crop_popup{
	width: 730px;
	height: 550px;
	padding: 35px;
	background: rgba(255, 255, 255, 1);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: fixed;
	top: 150px;
	z-index: 201;
	margin: auto 0;
	margin-left: 79px;
	text-align: center;
}

#crop_popup .top{
	background: rgba(36,157,219,1);
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	border-radius: 8px 8px 0px 0px;
	width: 100%;
	margin: -35px 0px 23px -35px;
	padding: 2px 33px 6px 37px;
	height: 55px;
	font-size: 20px;
}

#crop_popup .buttons{
	width: 100px;
	height: 25px;
	background-color: rgba(57,181,74,1);
	border: 1px solid rgba(57,181,74,1);
	margin-left: 15px;
	vertical-align: middle;
	text-align: center;
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	cursor: pointer;
}

#crop_popup .submit_button{
	width: 150px;
	height: 30px;
	background-color: rgba(57,181,74,1);
	border: 1px solid rgba(57,181,74,1);
	margin-left: 15px;
	vertical-align: middle;
	text-align: center;
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	font-size: 1.7em;
	cursor: pointer;
	margin-top: 5px;
}

.edit_images{
	position: relative;
	width: 200px;

	float: left;
	margin-top: 10px;
	margin-right: 20px;
}

.edit_images .del{
	top: 7px;
	position: absolute;
	z-index: 100;
	font-weight: bold;
	color: rgba(255, 5, 5, 1);
	right: 0px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	z-index: 100;
	cursor: pointer;
}

.edit_images .img_container{
	width: 200px;
	z-index: 100;
	margin-top: 10px;
	border: 1px solid black;
	padding: 1px;
}

.gal_images{
	position: relative;
	width: 100px;
	height: 60px;
	float: left;
	margin-right: 10px;
	padding: 1px;
	border: 1px solid black;
	overflow: hidden;
	margin-bottom: 5px;
}

.gal_images .del{
	top: -5px;
	margin-right: -5px;
	position: absolute;
	z-index: 101;
	font-weight: bold;
	color: rgba(255, 5, 5, 1);
	right: 5px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	z-index: 100;
	cursor: pointer;
}

.gal_images .img_container{
	width: 100px;

}


.e_images, .d_images{
	cursor: pointer;
}

.ddhandler {
	border: 2px dotted #0B85A1;
	margin-bottom: 20px;
	background-color: rgba(189, 189, 189, 0.1);
	margin: 25px auto;
	padding: 0 25px;
	position: relative;
}

.ddhandler .instructions{
	text-align: center;
	color: rgba(102,102,102,1);
	font-size: 16px;
	font-weight: 600;
}

.client_content{
	position: relative;
}

#match_pot{
	right: 70px;
	color: rgba(57,181,74,1);
	position: absolute;
	top: 14px;
	z-index: 101;
	font-size: 16px;
	font-weight: bold;
}


/* Details Page */

.details-content h2 {
	font-size: 1.2rem;
	font-family: 'Exo', sans-serif;
}

.details_checkboxs {
	width: 800px;
	/* position: relative; */
	bottom: 20px;
	height: 500px;
	margin-top: 480px;
}

.details_comments {
	height: 200px;
}

.details-price{
	padding-bottom: 5px;
}

.details_listings {
	float: right;
	width: 350px;
	position: relative;
	min-height: 455px;
}
.details_listings em {
	padding-top: 8px;
	padding-bottom: 8px;
	float: left;
	color: #333;
}
.details_realtor_column1 {
	float: left;
	position: relative;
	height: 100px;
	width: 150px;
	margin-top: -10px;
	font-size: 12px;
}

.details_realtor_column2 {
	float: right;
	position: relative;
	height: 100px;
	width: 150px;
	right: 20px;
	margin-top: -10px;
	font-size: 12px;
}

.details_buttons {
	width: 300px;
	height: 35px;
	background-color: rgba(57,181,74,1);
	font-weight: 700;
	padding: 3px 0px 5px 0px;
	margin: 5px 10px -1px 10px;
	border: 1px solid rgba(57,181,74,1);
	color: rgba(255,255,255,1);
	font-size: 1em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}

.details_buttons:hover {
	background-color: rgba(255,255,255,1);
	color: rgba(57,181,74,1);
}

.details_gallery {
	width: 600px;
	position: absolute;
}

.details_map_share {
	margin-top: 72px;
}

.details-added{
	font-size: 12px;
	font-weight: 600;
}

/* Directory Page */

#signup_dir {
	padding-left: 0px;
	padding-right: 0px;
	width: 1000px;
}

.directory-results {
	z-index: 10;
}

.directory-result-header{
	border-bottom: 2px solid #39B54A;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.directory-results-wrapper{
	margin: 15px 0;
	padding: 15px 0;
	border-top: 1px solid #39B54A
}

.directory-back{
	float: right
}

.directory_results_sort {
	float: right;
	width: 205px;
}

.directory-results-sub {
	font-family: 'Exo', sans-serif;
}

.directory_results_image {
	float: left;
	height: 140px;
	width: 140px;
	margin-top: 45px;
}

.directory_results_drop_down {
	border: 1px solid rgb(197, 197, 197);
	height: 27px;
	background-position: right;
	background-repeat: no-repeat;
	margin-left: 10px;
	font-family: 'Exo', sans-serif;
	vertical-align: bottom;
	color: rgba(57,181,74,1);
	font-size: 16px;
	min-width: 300px;
	max-width: 350px;
}

.directory_results_drop_down_span {
	margin-left: 5px;
}

.directory_results_details {
	float: left;
	margin: 0px 0px 0px 15px;
	height: 167px;
	position: relative;
	max-width: 270px;
	line-height: 16px;
}

.directory_results_details h3 {
	font-weight: normal;
	font-size: 20px;
	line-height: 16px;
	font-family: 'Exo', sans-serif;
}

.directory_results_details span {
	position: absolute;
	bottom: 0;
}

.directory_results_buttons {
	width: 200px;
	height: 42px;
	background-color: rgba(57,181,74,1);
	font-weight: 700;
	padding: 3px 0px 5px 0px;
	margin: 20px 5px 5px 5px;
	border: 1px solid rgba(57,181,74,1);
	color: rgba(255,255,255,1);
	font-size: 12px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
}

.directory_results_buttons:hover {
	background-color: rgba(255,255,255,1);
	color: rgba(57,181,74,1);
}

.directory_results_column {
	float: left;
	position: relative;
	height: 184px;
	min-width: 500px;
	max-width: 530px;
	line-height: 20px;
	background: url(/assets/images/members_divide.png) left no-repeat;
	font-size: 12px;
	padding-left: 12px;
	overflow-y: scroll;
}

.directory-results-featured {
	background: url(/assets/images/feat_dir_image.png) top left no-repeat;
	height: 50px;
	width: 200px;
	position: absolute;
}

.no_results{
	text-align: center;
	margin-top: 100px;
	font-weight:600;
	font-family: 'Exo', sans-serif;
	font-size: 24px;
	color: rgba(57,181,74,1);
}

/* How It Works */
.hiw-acc .accordion-content ul ul {
	font-size: 0.9rem;
	list-style: inside;
}

.hiw-second {
	padding-left: 4rem;
	padding-right: 4rem;
}

.hiw-second h2, .hiw-third h2 {
	font-size: 1.8rem;
	padding-top:2rem;
	text-align: center;
	color: #666;
}
.hiw-second p {
	padding-top:2rem;
}
.hiw-third p {

}

.hiw_content {
	color: rgba(102,102,102,1);
	width: 970px;
	font-size: 1em;
	background-color: rgba(255,255,255,1);
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
}

.hiw_top {
	text-align: center;
	width: 970px;
	height: 560px;
	background: url(/assets/images/hiw_top_bg.jpg) left top no-repeat;
	background-position: 0px 10px;
	color: white;
	padding-top: 20px;
	margin-top: -10px;
	background-size: cover;
}

.hiw_top #top_o {
	width: 690px;
	margin: auto;
	font-size: 1.1em;
}

.hiw_top h1 {
	font-family: 'Exo', sans-serif;
}

.hiw_second {
	margin: auto;
	width: 900px;
	padding-top: 20px;
}

.hiw_second .s_o {
	width: 795px;
	margin: auto;
	line-height: 27px;
}

.hiw_second .s_o #s_o_o {
	position: relative;
	width: 630px;
}

.hiw_second .s_o #s_o_t {
	position: relative ;
	width: 755px;
	margin-top: 30px;
}

.hiw_second .s_t {
	margin-top: 50px;
	min-height: 240px;
}

.hiw_second img {
	margin: 30px;
	position: relative;
}

.hiw_second h2 {
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-weight: 400;
	font-size: 30px;
}

.hiw_third {
	background: rgba(235, 235, 235, 1);
	padding: 25px 0px;
	height: 946px;
}

.hiw_third .t_o {
	width: 810px;
	margin: auto;
}

.hiw_third .t_o h2 {
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-weight: 400;
	font-size: 30px;
}

.hiw_third .t_o .two_way_match_box {
	width: 342px;
	position: relative;
	height: 350px;
	margin: auto;
	background: url(/assets/images/2_way_arrow_r.png) no-repeat 50% 0%;
}

.hiw-third .two-way-match-box {
	display: inline-block;
	background: url(/assets/images/2_way_arrow_r.png) no-repeat 50% 0%;
	padding-bottom: 1rem;
}

.hiw-third .three-way-match-box {
	display: inline-block;
	background: url(/assets/images/3_way_arrow_r.png) no-repeat 50% 0%;
	padding-bottom: 1rem;
}

.hiw_third .t_o .three_way_match_box {
	width: 542px;
	position: relative;
	height: 350px;
	margin: auto;
	background: url(/assets/images/3_way_arrow_r.png) no-repeat 50% 0%;
}

.hiw_fourth {
	background: rgba(36, 157, 219, 1);
	padding: 2px 0px;
	height: 525px;
	width: 970px;
	color: rgba(255,255,255,1);
}

.hiw_fourth .f_o {
	width: 810px;
	margin: auto;
	height: 430px;
}

.hiw_fourth .f_o h2 {
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-weight: 400;
	font-size: 30px;
}

.hiw_fourth .f_o img {
	margin: 18px 30px 0px 30px;
	position: relative;
}

.hiw_fourth .f_o .hiw_right_column {
	float: left;
	position: relative;
	width: 36%;
	margin-left: 140px;
	line-height: 32px;
}

.hiw_fourth .f_o .hiw_left_column {
	float: left;
	position: relative;
	width: 36%;
	line-height: 32px;
}

.hiw_fourth .f_o .icons {
	position: absolute;
	top: 0px;
	width: 105px;
	height: 245px;
	margin-left: 307px;
	text-indent: 0px;
}

.hiw_closed_box {
	border: 1px solid rgba(57,181,74,1);
	height: 40px;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	padding-top: 16px;
	color: rgba(57,181,74,1);
	background: rgba(255, 255, 255, 1) url(/assets/images/hiw_plus.png) no-repeat 98%;
	transition: all 1s;
}

.drop_box {
	cursor:pointer;
}

.hiw_open_box {
	border: 1px solid rgba(57,181,74,1);
	height: 40px;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	padding-top: 16px;
	color: rgba(244,244,244,1);
	background: rgba(57,181,74,1) url(/assets/images/hiw_minus.png) no-repeat 98%;
	transition: all 1s;
}

.hiw_open_text {
	background-color: rgba(235,247,237,1);
	height: 100%;
	display: block;
	padding: 20px 10px 20px 10px;
	line-height: 25px;
	width: 882px;
	font-size: 13px;
	line-height: 27px;
}

.hiw_right_column {
	float: right;
	position: relative;
	width: 48%;
}

.hiw_left_column {
	float: left;
	position: relative;
	width: 48%;
}

.shuffle_image {
	background: url(/assets/images/shuffle.png) no-repeat 50%;
	width: 30px;
	height: 280px;
	margin-top: 38px;
	margin-left: 14px;
	margin-right: 14px;
	float: left;
	cursor: pointer;
	position: relative;
}

.shuffle_image:hover {
	background: url(/assets/images/shuffle_glow.png) no-repeat 50%;
}

.shuffle_image_popup {
	width: 165px;
	height: 31px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgba(57,181,74,1);
	float: left;
	position: absolute;
	font-size: 13px;
	color: rgba(255,255,255,1);
	z-index: 100;
	left: -72px;
	bottom: 167px;;
	padding: 5px 7px 10px 7px;
	text-align: center;
	font-weight: 600;
	display: none;
}

.shuffle_image_popup:after {
	content: "";
	position: absolute;
	bottom: -13px;
	left: 73px;
	border-style: solid;
	border-width: 13px 13px 0;
	border-color: rgba(57,181,74,1) transparent;
	display: block;
	width: 0;
	z-index: 1;
}



.hiw_button {
	width: 200px;
	height: 35px;
	background-color: rgba(255,255,255,1);
	font-weight: 500;
	padding: 10px 0px 0px 0px;
	margin: auto;
	border: 1px solid rgba(255,255,255,1);
	color: rgba(36, 157, 219, 1);
	font-size: 18px;
	cursor: pointer;
	font-family: 'Exo', sans-serif;
	text-align: center;
	text-decoration: none;
}

.hiw_button:hover {
	background-color: rgba(36, 157, 219, 1);
	color: rgba(255,255,255,1);
	text-decoration: none;
}


/* Directory Signup Page */

.dir_signup_left_top{
	background-image: url(/assets/images/signup_dir_left_top.png);
	margin-top: -20px;
	background-position: 0% 0%;
	width: 480px;
	margin-left: -15px;
	background-repeat: no-repeat;
	padding-left: 20px;
	color: rgba(255,255,255,1);
	background-size: cover;
}

.dir_signup_left_top div{
	width: 450px;
}

#dir_toc{
	float: left;
	position: relative;
	width: 486px;
	margin-top: -25px;
}

.dir_signup_left_bottoml {
	width: 50%;
	height: 280px;
	float: left;
	margin-bottom: 15px;
}

.dir_signup_left_bottoml .fine_print {
	font-size: 9px;
	line-height: 20px;
	height: 157px;
}

.dir_signup_left_bottomr {
	background: rgba(244,244,244,1);
	width: 230px;
	height: 255px;
	float: right;
	padding: 5px;
	margin-bottom: 25px;
}

.dir_signup_checkbox {
	float: left;
	width: 215px;
	font-size: 11px;
	margin-top: -13px;
	margin-right: 11px;
}

.dir_signup_captcha {
	float: left;
	width: 265px;
	padding-right: 5px;
	margin-left: 107px;
}

.dir_signup_left_column {
	float: left;
	position: relative;
	width: 485px;
	height: 1075px;
	margin-left: 15px;
}

.dir_signup_left_middle {
	position: relative;
	min-height: 192px;
	float: left;
	line-height: 24px;
	padding-left: 5px;
}

.dir_signup_right_column {
	float: right;
	position: relative;
	width: 490px;
	height: 1150px;
	line-height: 24px;
	margin-left: 5px;
}

.dir_signup_right_column textarea {
	border: 1px solid rgba(172,172,172,1);
	width: 430px;
	height: 105px;
}

.dir_signup_logo_placement {
	width: 475px;
	height: 200px;
	margin-top: 25px;
	position: relative;
	float: left;
}

.dir_signup_logo_placement #lf {
	float: left;
	width: 200px;
	height:200px;
	overflow: hidden;
}

.dir_signup_logo_placement #rg {
	float: right;
	margin-top: 12px;
	width:260px;
	font-weight:600;
	font-family: 'Exo', sans-serif;
	text-align: center;
	height: 60px
}

.dir_signup_logo_placement #Logo{
	max-width: 200px;
	max-height: 200px;
	height: auto;
	width: auto;
}

.dir_signup_logo_placement #Logo div{
	float: left;
	width: 200px;
	height: 200px;
	background: rgba(153,153,153,1);
	text-align: center;
	color: white;
	font-size: 30px;
}

.drop_here {
	border:2px dotted #0B85A1;
	min-height: 200px;
	margin-bottom: 35px;
}

/* Profile Page */

.profile_left_top {
	background: rgba(244,244,244,1);
	margin-top: -5px;
	background-repeat: no-repeat;
	padding-left: 10px;
	color: rgba(0,0,0,1);
	width: 490px;
	height: 390px;
	position: relative;
}

.profile_left_top .left {
	float: left;
	position: absolute;
	margin: 0px 0px 0px 0px;
	height: 225px;
	width: 212px;
	line-height: 24px;
	bottom: 0px;
	font-weight: 600;
	font-size: 12px;
}

.profile_left_top .right {
	float: left;
	position: absolute;
	height: 225px;
	width: 330px;
	line-height: 24px;
	bottom: 0px;
	left: 227px;
	font-size: 12px;
}

.profile_left_column {
	float: left;
	position: relative;
	width: 500px;
	height: 875px;
	margin-left: -15px;
}

.profile_right_column {
	float: right;
	position: relative;
	width: 480px;
	height: 875px;
	line-height: 25px;
	margin-left: 5px;
}

.history_button{
	width: 175px;
	height: 20px;
	background-color: rgba(57,181,74,1);
	border: 1px solid rgba(57,181,74,1);
	vertical-align: middle;
	text-align: center;
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	font-size: 11px;
	cursor: pointer;
	margin: 2px;
}

.side_pro_button {
	width: 135px;
	height: 20px;
	background-color: rgba(57,181,74,1);
	border: 1px solid rgba(57,181,74,1);
	vertical-align: middle;
	text-align: center;
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	font-size: 10px;
	cursor: pointer;
	margin: 2px;
}

/* Matches Page */

.matches-client-house{
	border-bottom: 2px solid rgba(71, 181, 82, 1);
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.matches_client_house .details {
	line-height: 20px;
	position: relative;
	font-size: 12px;
	margin-top: 43px;
}

.matches_client_house .image {
	float: left;
	margin-top: 38px;
}


.matches_content_buttons {
	float: right;
	width: 250px;
	position: relative;
	margin-top: 50px;
}

.matches_content_buttons .buttons,
.reset_button {
}

.matches_content_buttons .buttons:hover,
.reset_button:hover {
}



/* Terms & Policy Page */
.terms-policy {
	padding: 2rem;
	font-size: 1rem;;
}

.terms-policy h1 {
	text-align: center;
	color: rgba(57,181,74,1);
	font-size: 1.6em;
}
.terms-policy h3 {
	font-size: 1.2em;
}
.terms-policy h5 {
	text-align: center;
	font-size: 1.125rem;
}
.terms-policy p, .terms-policy ul {
	color: #808080;
	font-size: 0.9rem;
	line-height: 1rem;
}

.terms-policy ul {
	margin-left: 3rem;
}

#tcp h1{
	font-size: 25px;
}

#tcp h2{
	font-size: 16px;
}

/* Login Popup */

#login_popup,  #c_login_popup{
	width: 340px;
	height: 280px;
	padding: 8px;
	background: rgba(255, 255, 255, 1);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: fixed;
	z-index: 201;
	margin: auto 0;
	margin-left: -170px;
	left: 50%;
}

#contents {
	width:360px;
	height:144px;
	background:#fcfcfc;
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow:0px 1px 3px rgba(0,0,0,.25);
	box-shadow:0px 1px 3px rgba(0,0,0,.25);
	-webkit-border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}

#close_btn, #close_map {
	position: absolute;
	top: 4px;
	right: 4px;
	float: right;
	cursor: pointer;
}

.cl_btn {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	font-size: 11px;
}

/* reveal width small (max-width: 39.9375em) */
@media screen and (max-width: 39.9375em) {
	.reveal {
		width: 100%;
	}
}
/* reveal width small */
/*
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
.reveal {
width: 100%;
}
}
*/
/* reveal width small */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.reveal {
		width: 60%;
	}

}

.reveal .modal-header {
	padding: 0.5rem;
	background: rgba(36,157,219,1);
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	font-size: 1.6rem;
	margin-bottom: 0.75rem;
}

.reveal .modal-header .modal-close {
	margin: 0px;
	float:right;
	cursor: pointer;
}
.reveal .modal-body {
	padding: 1.25rem;
	line-height: 1.4rem;
}

@media screen and (max-width: 39.9375em) {
	.reveal .modal-header {
		font-size: 1.136rem;
		margin-bottom: 0.6rem;
	}
	.reveal .modal-body {
		padding: 1rem;
		line-height: 1.12rem;
	}

}

/* About Us */

.about-top {
	text-align: center;
	background: url(/assets/images/about_top.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFFFFF;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-bottom-style: solid;
	border-bottom-width: 0.7rem;
	border-bottom-color: rgba(36, 157, 219, 1);
	font-size: 0.9rem;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.about-top-under {
	background-color: rgba(36, 157, 219, 1);
	font-size: 1.2rem;
	text-align: center;
	padding-top: 1.1rem;
	padding-bottom: 1.5rem;
	color: #FFFFFF;
}

.about-top h1 {
	font-family: 'Exo', sans-serif;
	font-weight: 100;
}

.about-top p {
	line-height: 1rem;
}

.about-second {
	background-color: rgba(255,255,255,1);
	text-align: left;
	padding: 20px;
	font-size: 1.1rem;
	color: rgba(0, 0, 0, 1);
}

.about-second div div div {
	font-size: 1.3rem;
	font-weight: 600;
	font-style: italic;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.about-second em {
	color: rgba(57,181,74,1);
}

.about-third {
	background-color: rgba(235, 235, 235, 1);
	padding: 0;
}

.about-third .text {
	font-size: 0.95rem;
	line-height: 1.5rem;
	padding: 2rem;
}

@media screen and (min-width: 40em) {
	.about-third .text {
		font-size: 0.90rem;
		padding: 2rem;
	}
}

@media screen and (min-width: 64em) {
	.about-third .text {
		font-size: 0.95rem;
		padding-top: 4rem;
		padding-left: 5rem;
		padding-right: 4rem;
		padding-bottom: 3rem;
	}
}

.about-third .right-image {
	text-align: right;
	padding-right: 0px;
}

.about-fourth {
	margin: auto;
	/*background: url(/assets/images/about_fourth.png) no-repeat bottom rgba(255,255,255,1);*/
	text-align: center;
	height: 0px;
	background-size: cover;
	padding-top: 65px;
	background-position: 1px 0px;
}

.about-fourth .text {
	width: 550px;
	margin: auto;
	line-height: 25px;
}

.about-fourth h2 {
	font-family: 'Exo', sans-serif;
	color: rgba(0, 0, 0, 1);
	font-weight: normal;
	font-size: 29px;
	padding-bottom: 13px;
}

.about-fifth {
	background: rgba(36, 157, 219, 1);
	color: rgba(255,255,255,1);
	padding: 0.5rem;
}

.about-sixth{
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	background-color:rgba(255,255,255,1);
	text-align:center;
}

.about-sixth a {
	text-decoration: none;
}
/* Members Common */

.multi_pop {
	width: 340px;
	height: 280px;
	padding: 8px;
	background: rgba(255, 255, 255, 1);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: absolute;
	z-index: 201;
	margin: auto 0;
	margin-left: -170px;
	left: 50%;
}

.pop_button{
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'Exo', sans-serif;
	font-size: 1.4em;
	color: rgba(57,181,74,1);
}

.pop_button_ish{
	width: 200px;
	height: 45px;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'Exo', sans-serif;
	font-size: 1.2em;
	color: rgba(57,181,74,1);
}

.pop_button_disabled{
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'Exo', sans-serif;
	font-size: 1.5em;
	color: rgba(145, 145, 145, 1);
}

.match_button_p{
	width: 175px;
	height: 40px;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'Exo', sans-serif;
	font-size: 1.7em;
	color: rgba(57,181,74,1);
}

.match_button_disabled{
	width: 175px;
	height: 40px;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'Exo', sans-serif;
	font-size: 1.7em;
	color: rgba(145, 145, 145, 1);
}


/* Members Home */

#members_home{
	min-height: 605px;
	position:relative;
}

#members_home h1, #members_home h1 h2{
	font-family: 'Exo', sans-serif;
}

#members_home .left_column{
	float: left;
	width:465px;
	padding: 10px;
}

#members_home .right_column{
	float: right;
	width:465px;
	padding: 10px;
}

.fin_imp{

}

.fin_imp_btn{
	width: 100px;
	height: 25px;
	margin-bottom: 10px;
	font-weight: 700;
	font-family: 'Exo', sans-serif;
	font-size: 0.95em;
	color: rgba(57,181,74,1);
}

.property_features {
	clear: both;
	position: relative;
}

.details-content h6{
	font-style: italic
}
.features_list {
	float: left;
	padding-right: 30px;
}
.features_list ul {
	list-style-type: none;
	font-size: 12px;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.features_list ul li {
	background-image: url(/assets/images/feature_check.png);
	background-repeat: no-repeat;
	background-position: right;
}
.features_list ul li img {
	list-style-type: none;
	display: inline-block;
}
.features-box h6{
	margin-bottom: 0;
}
.features-check-all{
	display: none;
	color: #3399FF;
	font-size: 10px;
}
.property_comments {
	clear: both;
	padding-top: 15px;
	top: 10px;
	position: relative;
	padding-bottom: 40px;
	height: auto;
}
.property_comments p {
	font-size: 12px;
}
.property_comments em, .property_features em {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #333;
}
.clear {
	clear: both;
}
.listing_results_image img {
	cursor: pointer;
}
.listing_sold{
	background: url(/assets/images/listing_sold_image.png) top left no-repeat;
	height: 50px;
	margin-left: -33px;
	width: 200px;
	position: absolute;
	margin-top: -3px;
	z-index: 10;
}
.listing_pending{
	background: url(/assets/images/listing_pending_image.png) top left no-repeat;
	height: 50px;
	margin-left: -33px;
	width: 200px;
	position: absolute;
	margin-top: -3px;
	z-index: 10;
}
.price-nav h2 {

}

.price-nav .detail-back-button{
	float: right
}
.price-nav .nav-items {
	display: inline;
	float: right;
}

.option-list li span{
	min-width: 100px;
	display: inline-block
}

.option-list .incomplete{
	color: rgba(214, 0, 0, 1);
}

.option-list .inactive{
	color: rgba(255, 0, 0, 1);
}

.option-list .active{
	color: rgba(0, 153, 0, 1);
}

#listing_results_for{
	/* float:right; */
}

#sorting_option{
	float:right;
}

.featured_results{
	width: 970px;
	height: 200px;
	position: relative;
	float: left;
	background-color: rgba(255,255,255,1);
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 15px;
	font-size: 16px;
	font-family: 'Exo', sans-serif;
	margin-top: 15px;
}

#mcts1{
	width:870px !important;
}

.tutorial_main_div {
	width: 400px;
	height: 180px;
	border-radius: 4px;
	background: rgba(0, 153, 0, 0.9);
	position: absolute;
	z-index: 1000;
	margin: 0 auto;
	padding: 10px;
	top: -30px;
	right: -100px;
	text-align: center;
	font-size: 14px;
	color: rgb(255, 255, 255);
	display:none;
}

.ft_img {
	padding-left: 10px;
}

.double-check{
	font-weight:bold;
	font-style:italic;
	font-size: 1.2em;
	color:rgba(255,0,0,1);
}

#r_details{
	position: fixed;
	top: 200px;
	width: 480px;
	overflow-y: auto;
}

@media screen and (min-height: 499px) {
	#r_details{
		max-height: 315px;
	}
}

@media screen and (min-height: 851px) {
	#r_details{
		max-height: 400px;
	}
}

@media screen and (min-height: 1600px) {
	#r_details{
		max-height: 600px;
	}
}

/* Broker */

#br_right{
	height: 900px;
}

.side_app_button {
	width: 56px;
	height: 20px;
	background-color: rgba(57,181,74,1);
	border: 1px solid rgba(57,181,74,1);
	vertical-align: middle;
	text-align: center;
	color: rgba(255,255,255,1);
	font-family: 'Exo', sans-serif;
	font-size: 10px;
	cursor: pointer;
	margin: 2px;
}

/* Responsive */

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

table.bill-history {
	text-align: center;
	width: 100%;
}
table.bill-history thead {
	display: block;
}
table.bill-history tbody {
	display:block;
	overflow-y: scroll;
	max-height: 16rem;
}
table.bill-history tr {
	width: 100%;
}
table.bill-history th {
	padding: 0.2rem;
}
table.bill-history td {
	padding: 0.2rem;
}
input[readonly] {
	background: #E0E0E0;
	cursor: cell;
}

.loader-modal{
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	text-align: center;
	border: none
}

.pagination .active a {
	color: #333;
}

.pagination .current{
	padding: 0
}

.pagination .current a{
	color: #fff
}

#contact_agent_form label{
	min-width: 120px
}

.unstyled{
	list-style: none;
	margin: 0
}

.client_info p{
	margin-top: 30px;
}
.detail-top{
	border-bottom: 2px solid rgba(71, 181, 82, 1);
}
.img-responsive{
	max-width: 100%;
	height: auto;
}
.matches-matches {
	position: relative;
}

.matches-margin {
	margin-top: 15px;
	margin-bottom: 15px;
        border-bottom: 2px solid rgba(71, 181, 82, 1)
}

.matches-matches .match-box {
    text-align: center;
}

.matches-matches i.fa-random{
    background: #fff;
    color: rgba(71, 181, 82, 1);
    padding: 4px;
}

.matches-wrapper{
	display: inline-block;
        position: relative;
}

.matches-wrapper > i.fa-random{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 30px;
    width: 30px;
    top: -2px;
    position: absolute
}

.matches-title {
	font-size: 1.7em;
	position: relative;
	margin-top: 10px;
	color: black;
        padding-left: 15px;
        padding-right: 15px;
}

.matches-blue-text {
	color: rgba(36,157,219,1);
	font-weight: 600;
}

.matches-buttons{
	margin-top: 28px;
}

.matches-buttons button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.matches-buttons .buttons{
	background-color: rgba(57,181,74,1);
	font-weight: 700;
	padding: 0px 0px 1px 0px;
	margin: 0px 5px 5px 0px;
	border: 1px solid rgba(57,181,74,1);
	color: rgba(255,255,255,1);
	font-size: 1em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	width: 140px;
	height: 22px;
}

.matches-buttons .buttons:hover {
	background-color: rgba(255,255,255,1);
	color: rgba(57,181,74,1);
}

.matches-wrapper .matches-hiw a.tooltip,
.one-way-match-box .matches-hiw a{
    display: block;
    width: 45px;
    margin-top: 140px
}
.matches-wrapper .matches-hiw .list a.tooltip > i.fa-random,
.one-way-match-box .matches-hiw a > i.fa-random{
    position: static;
    left: auto;
    right: auto;
    top: auto;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    margin-right: 0;
}

.matches-wrapper .matches-hiw{
    padding: 0;
    min-height: 300px
}

.image-items .column:last-child:not(:first-child), .image-items .columns:last-child:not(:first-child){
	float:left
}
.profile-wrapper{
	border-bottom: 1px solid rgba(223, 223, 223, 1);
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 15px
}
i.fa{
	margin-right: 5px;
}
#sorting_option{
	float:none
}
.map_content{
	width: 100%;
	min-height: 400px;
	height: 400px
}

.search-result-header{
	border-bottom: 2px solid rgba(71, 181, 82, 1);
	padding-top: 15px;
	padding-bottom: 15px;
}

.search-result-filter{
	border-bottom: 1px solid rgba(223, 223, 223, 1)
}

.search-result-filter .filter-label{
	padding-top: 8px;
	padding-bottom: 7px;
}

.admin-page h4{
	font-size: 16px;
	font-weight: bold;
}
.admin-page span.server_time{
	font-weight: normal
}

.admin-page h2{
	font-size: 1.5rem;
	font-weight: bold;
}

/* Define mobile styles */

/** Small screens */
@media only screen {
.hiw-second {
	padding-left: 1rem;
	padding-right: 1rem;
}
	#site_menu {
		display: none;
	}
	.slicknav_menu {
		display: inline;
	}
	.members-listing .date-added{
		text-align: left;
		float: none;
	}
	.members-listing .exclusive{
		position: static;
		right: auto;
		top: auto;
		padding: 10px;
	}
	.members-listing .featured{
		position: static;
		top: auto;
		left: auto;
		margin-left: -25px;
	}
	.members-listing .finish-listing{
		text-align: left;
	}
	.matches-client-house .action-group{
		text-align: left;
	}
	.dashboard-search-input-wrapper i.fa-search{
		display: inline;
	}
	ul.menu-item{
		margin-bottom: 15px;
	}
	ul.menu-item > li{
		float: none;
		margin: 0
	}
        .left-side-arrow{
            display: block
        }
}

/** Medium screens */
@media only screen and (min-width: 30.063em) {
.hiw-second {
	padding-left: 1rem;
	padding-right: 1rem;
}
.about-fifth {
padding: 4rem;
}
	.slicknav_menu{
		display: inline;
	}
	.members-listing .date-added{
		margin-top: 0;
		text-align: right;
		float: right;
	}
	.members-listing .exclusive{
		position: absolute;
		right: 15px;
		top: 0;
		padding: 10px;
		margin-top: 0;
	}
	.members-listing .featured{
		position: absolute;
		top: -2px;
		left: -17px;
		margin-left: 0;
	}
	.members-listing .finish-listing{
		text-align: right;
	}
	.matches-client-house .action-group{
		text-align: right;
	}
	.dashboard-search-input-wrapper i.fa-search{
		display: none;
	}

	ul.menu-item{
		margin-bottom: 0;
	}
	ul.menu-item > li{
		float: left;
		margin: 0 5px;
	}


}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
.hiw-second {
	padding-left: 1rem;
	padding-right: 1rem;
}

	.t-nav .button{
		font-size: 0.9rem
	}
	.date-added{
		margin-top: 0;
		text-align: right;
	}
	.dashboard-search-input-wrapper i.fa-search{
		display: inline;
	}

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/** Large screens */
@media only screen and (min-width: 64.063em) {
	#site_menu {
		display: inline-block;
	}
	.slicknav_menu{
		display: none;
	}
	.t-nav .button{
		font-size: 0.9rem
	}
	.dashboard-search-input-wrapper i.fa-search{
		display: inline;
	}
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/** XLarge screens */
@media only screen and (min-width: 90.063em) {
	.t-nav .button{
		font-size: 0.9rem
	}
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/**XXLarge screens*/
@media only screen and (min-width: 120.063em) {
	.t-nav .button{
		font-size: 0.9rem
	}
} /* min-width 1921px, xxlarge screens */

.nopadding {
	padding: 0;
}
#all_listings {
	min-height: 450px;
}
.address{
	margin-bottom: 15px
}
.address p{
	margin-bottom: 0
}
.featured-home .orbit-slide{
	margin: 0 5px;
}
.tooltip-custom-theme {
	border-radius: 5px;
	border: 2px solid #000;
	background: rgb(52, 141, 49);
	color: #fff;
	max-width: 385px;
	max-height: 150px;
}
.tooltip-custom-theme .tooltipster-content {
	font-size: 14px;
	line-height: 16px;
	padding: 8px;
}
.tooltip-custom-theme h3{
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.tooltip-custom-theme p{
	font-size: 13px;
}
.tooltip-custom-theme .col-left{
	float: left;
	width: 30%;
	padding-right: 15px;
}
.tooltip-custom-theme .col-right{
	float: right;
	width: 70%;
}

.tooltip-white-theme {
	border: 2px solid #333;
	background: #fff;
	color: #333;
}
.tooltip-white-theme .tooltipster-content {
	max-width: 320px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
.callout.alert ul {
	font-size: 0.85rem;
	font-style: italic;
	font-weight: normal;
	padding: 0.25rem;
	color: #f04124;
	text-align: center;
	list-style: none;
}
.grid-sortable > div {
	border:1px solid rgba(71,181,82,1);
}
.grid-sortable > div:hover {
	cursor: pointer;
}

/* Drag and drop classes */
.dad-noSelect,.dad-noSelect *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
}

.dad-container{
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.dad-container::after{
    content: '';
    clear: both !important;
    display: block;
}
.dad-active .dad-draggable-area{
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.dad-draggable-area>*,.dad-draggable-area img{
    pointer-events: none;
}
.dads-children.active{
    pointer-events: none;
}
.dads-children-clone{
    opacity: 1;
    z-index: 9999;
    pointer-events: none;
}
.dads-children-placeholder{
    pointer-events: none;
    overflow: hidden;
    position: absolute !important;
    box-sizing: border-box;
    border:4px dashed #639BF6;
    margin:5px;
    text-align: center;
    color: #639BF6;
    font-weight: bold;
}
#dropzone {
	margin-top:1.5rem;
	vertical-align: middle;
	text-align: center;
	border:3px solid rgba(71,181,82,1);
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.canvas-arrow {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

@media(max-width:1200px) {
    .canvas-arrow {
        width: 100%;
        height: auto;
    }
}