.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-size: 0.8rem;
	line-height: 1rem;
}

.tooltip .tooltip-txt {
	text-shadow: none;
	visibility: hidden;
	width: 480px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 4px 12px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -240px;
	opacity: 0;
	transition: opacity 1s;
}

.tooltip .tooltip-txt::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-txt {
	visibility: visible;
	opacity: 1;
}
.tooltip .tooltip-txt h4 {
	font-size: 1.15rem;
}
.tooltip .tooltip-txt p {
	text-align: left;
}